












.woocommerce .woocommerce-info {
	border-top-color: #CA4C6E;
}
.woocommerce .woocommerce-info:before {
	color: #CA4C6E;
}


.woocommerce .woocommerce-message { border-top: 2px solid #CA4C6E;  }
.woocommerce-message:before { color: #CA4C6E;  }



/* TLACITKA */

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	background-color: #CA4C6E;
	color: #fff;
	border-radius: 0;
	padding: 15px 30px !important;
	transition: all .5s ease-in-out;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
	 background-color: #F9A689; color: #fff;
}

/* disabled tlacitka */
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], 
.woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, 
.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, 
.woocommerce input.button:disabled[disabled] {
	color: #fff !important;
}
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled[disabled]:hover, 
.woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, 
.woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, 
.woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover {
	background-color: #F9A689 !important;
}





/*	PREHLED KATEGORII	*/

.product-category .count { display: none;  }

ul.products li.product-category { float: none !important; margin: 1em !important; width: auto !important; text-align: left !important; }
ul.products li.product-category h3 { font-size: 24px !important;  }









/*	PREHLED PRODUKTU	*/

.woocommerce-content-before-products { background-color: #FAF3F0; padding: 10px; }

@media (min-width: 1200px) {
	.woocommerce-content-before-products { border-right: 2px solid #fff; }
}


.woocommerce .woocommerce-ordering { float: none; margin: 0; }
.woocommerce .woocommerce-ordering select { max-width: none; padding: 5px 15px; }

@media (min-width: 768px) {
	.woocommerce .woocommerce-ordering { float: left; }
}




/*
	Rozlozeni boxu s produkty ... musim rozlisit hlavni vypis produktu (3 vedle sebe, vice radku), a vypis "souvisejicich" produktu (4 vedle sebe, 1 radek)
*/


.woocommerce .products ul, .woocommerce ul.products { margin: 0; }

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product { text-align: center; padding: 15px; border: 1px solid #FAF3F0; }

.woocommerce .related ul.products li.product { border: 0; border-right: 2px solid #fff; }


@media (max-width: 499px) {
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, 
		.woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product 
		{
			width: 100%; float: none;
		}
}
@media (min-width: 500px) and (max-width: 767px) {
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, 
		.woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product 
		{
			width: 50%; margin: 0;
		}
	.woocommerce .shop-archive ul.products li.product:nth-child(2n+1) { border-left-width: 2px }
	.woocommerce .shop-archive ul.products li.product:nth-child(2n+2) { border-right-width: 2px }
	
	.woocommerce .related ul.products li.product:nth-child(2n+2) { border-right: 0; } 
}


@media (min-width: 768px) {
	.woocommerce-page .shop-archive ul.products li.product, 
		.woocommerce .shop-archive ul.products li.product { width: 33.333333%; margin: 0; }	
	
	.woocommerce-page .related ul.products li.product, 
		.woocommerce .related ul.products li.product { width: 25%; margin: 0; }	
	
	.woocommerce .shop-archive ul.products li.product:nth-child(3n+1) { border-left-width: 0 }
	.woocommerce .shop-archive ul.products li.product:nth-child(3n+2) {  }
	.woocommerce .shop-archive ul.products li.product:nth-child(3n+3) { border-right-width: 0 }
	
	.woocommerce .related ul.products li.product:nth-child(4n+4) { border-right: 0; } 
}






.woocommerce ul.products li.product a { display: block; padding: 20px; }
.woocommerce ul.products li.product a:hover { 
	background-color: #FBF3F0; 
	background-image: url(img/ruzova-lupa.png); 
	background-size: 17px 17px; 
	background-repeat: no-repeat;
	background-position: right 20px bottom 20px;
}
.woocommerce .related ul.products li.product a:hover { background-color: #F6EAE5; }

@media (min-width: 1600px) {
	.woocommerce ul.products li.product a { padding: 30px 40px; }
	.woocommerce ul.products li.product a:hover { background-position: right 30px bottom 30px; }
}




.products .product { text-align: center;  }
.products .product h3 { font-weight: bold; }

.products .product .product-cats { font-weight: 700; font-size: 14px; color: #ca4c6e; margin-bottom: 6px; }

.product-labels { position: absolute; left: 0; top: 20px; z-index: 50; }
.product-label { width: 80px; padding: 6px; background-color: #CA4C6E; color: #fff; text-align: center; line-height: 1; font-size: 14px; }

.woocommerce ul.products li.product a img { margin-bottom: 1.5em; }

.woocommerce ul.products li.product .woocommerce-loop-product__title { margin-bottom: 5px; padding: 0; font-weight: normal; font-size: 16px; color: #6a6a6a; }

.woocommerce ul.products li.product .price { margin-bottom: 0; font-weight: bold; font-size: 18px; color: #CA4D6D; }











/* strankovani */

.woocommerce nav.woocommerce-pagination { clear: both;  margin-top: 30px; margin-bottom: 30px; text-align: right; padding-right: 50px; }
.woocommerce nav.woocommerce-pagination .page-numbers { display: inline-block; padding: 2px 12px; font-size: 18px; margin-left: 1px; margin-right: 1px; border: 2px solid #F6EAE5; }
.woocommerce nav.woocommerce-pagination a.page-numbers { text-decoration: none; color: #6a6a6a; }
.woocommerce nav.woocommerce-pagination .page-numbers.current, .woocommerce nav.woocommerce-pagination a.page-numbers:hover { color: #fff; background-color: #CA4C6E; border-color: #CA4C6E; }

















/* DETAIL */


.woocommerce div.product {  border: 2px solid #FAF3F0; padding: 20px;  }

@media (min-width: 768px) {
	.woocommerce div.product .woocommerce-product-gallery { border: 2px solid #FAF3F0; }
	.woocommerce div.product .woocommerce-product-gallery__wrapper { margin: 0; padding: 20px; }	
	
	.woocommerce div.product { background: url(img/kvetina-symbol.png) no-repeat; background-position: right 50px bottom -20px; }
	
}

@media (min-width: 960px) {
	.woocommerce div.product { padding: 40px;  }
}


@media (min-width: 1400px) {
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, 
		.woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images { width: 33%; }
	
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, 
		.woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary { width: 63%; }
		
	.woocommerce div.product div.images { margin-bottom: 0; }
	.woocommerce div.product div.summary { margin-bottom: 0; }
}

.woocommerce div.product div.images img { width: auto; margin: auto;  }




.woocommerce div.product .product_title { margin-bottom: 10px; font-weight: 700; font-size: 24px;  }

.woocommerce div.product .skladovost { margin-bottom: 20px; }
.woocommerce div.product .skladovost strong { position: relative; padding-left: 20px; color: #bfbd7c; }
.woocommerce div.product .skladovost strong:before { content: ''; display: block; width: 12px; height: 12px; border-radius: 6px; background-color: #bfbd7c;  }
.woocommerce div.product .skladovost strong:before { position: absolute; left: 0; top: 6px; }


.woocommerce div.product .product-description { margin: 30px 0; padding: 30px 0; border: 2px solid #FAF3F0; border-left: 0; border-right: 0; }
.woocommerce div.product .product-description p { margin-bottom: 10px; }
.woocommerce div.product .product-description :last-child { margin-bottom: 0; }




.prehrat-ukazku { margin-bottom: 10px; }
.prehrat-ukazku #prehrat { display: inline-block; padding: 10px 10px 10px 50px; text-decoration: none; font-weight: bold; color: #ca4c6e; background: url(img/play.png) left center no-repeat; background-size: 36px; }
.prehrat-ukazku #ukoncit { font-weight: bold; text-decoration: none; }
.prehrat-ukazku #prehrat  { transition: opacity .2s ease-in-out; }
.prehrat-ukazku #prehrat:hover { opacity: .7 }




.woocommerce div.product p.price, .woocommerce div.product span.price { font-weight: 700; color: #bfbd7c; }
.woocommerce div.product p.price { margin-bottom: 10px; }

@media (min-width: 768px) {
	.woocommerce div.product p.price, .woocommerce div.product span.price { font-size: 40px; }
}


.woocommerce a.reset_variations { display: none !important;  }

/*
.woocommerce div.product form.cart .variations tr {  }
.woocommerce div.product form.cart .variations td { border-bottom: 2px solid #EDEDED; }
.woocommerce div.product form.cart .variations td.label { display: block; padding: 5px; padding-left: 0; }
.woocommerce div.product form.cart .variations td.value { display: block; padding: 5px; }

.woocommerce div.product form.cart .variations td.label label { font-size: 15px; color: #aaa9a9;  }
.woocommerce div.product form.cart .variations td.value select { border: 0; max-width: 100%; min-width: 0; width: 100%; }
.woocommerce div.product form.cart .variations td.value select,
	.woocommerce div.product form.cart .variations td.value select option { padding: 5px; font-size: 16px; color: #414141; }
*/



/* do kosiku */

.woocommerce .quantity .qty { margin: 0; padding: 8px 8px 7px 8px;    }

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color: #CA4C6E;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background-color: #FBC5B2;
}


.woocommerce div.product form.cart .variations td.label { padding-top: 13px; }
.woocommerce div.product form.cart .variations select { padding: 5px; border-color: #CA4C6E; color: #CA4C6E; }


.product-type-simple form.cart {  }

.product-type-variable .woocommerce-variation-add-to-cart {  }

@media (min-width: 1400px) {
	.product-type-simple form.cart { float: right; margin-bottom: 0; margin-top: 5px; }	
	
	.woocommerce div.product-type-variable .woocommerce-variation-price { float: left; }
	
	.woocommerce div.product-type-variable .single_variation_wrap > p.price { float: left; }
	
	.product-type-variable .woocommerce-variation-add-to-cart { float: right; }
}






.product_meta { display: none;}



/* related */


.related.products { clear: both; margin-top: 30px; background-color: #FAF3F0; }
.related.products > h2 { margin: 0; padding: 15px 40px; border-bottom: 2px solid #fff; text-align: left; color: #CA4C6E; font-size: 20px; }

@media (min-width: 960px) {
	.related.products { margin-top: 50px; }
}




























/* KOSIK */


.woocommerce td.product-name dl.variation dt { clear: none; font-weight: normal; }
.woocommerce td.product-name dl.variation dd { margin-bottom: 0; margin-right: 20px;  }
.woocommerce td.product-name dl.variation dd p { margin: 0;  }


.woocommerce table.cart td.actions .input-text { width: 200px !important; }
.woocommerce table.cart td.actions .button { padding-top: 11px !important; padding-bottom: 12px !important;  }








/* CHECKOUT */

.woocommerce form .form-row .required { text-decoration: none; color: #AA0000;}

#order_review_heading { margin-top: 50px; }

#order_comments { height: 8em;  }


.woocommerce-checkout-review-order-table thead tr th:first-child { width: 40%;  }



.woocommerce-checkout .shipping-desc {  margin: 0px 0 5px 30px; font-size: 14px; font-style: italic; font-weight: normal;  }
.cart-collaterals .shipping-desc { display: none;  }

.woocommerce-checkout #payment { background: #fff !important;  }
.woocommerce-checkout #payment ul.payment_methods { border: none; padding: 0;  }
.woocommerce-checkout #payment div.payment_box { width: auto; background: none; padding: 1px; margin: 0px 0 5px 30px; font-size: 14px; font-style: italic; }
.woocommerce-checkout #payment div.payment_box:before { display: none;  }
.woocommerce-checkout #payment div.payment_box p { margin: 0;  }
.woocommerce-checkout #payment .wc_payment_method label {font-weight: bold;  }
.woocommerce-checkout #payment ul.payment_methods li input { margin: 3px .5ex; }



.form-row.place-order { text-align: center; }


.select2-results__option { margin-left: 0; } /* select2 <li> */

















div#wp-acf-editor-37-wrap .insert-media.add_media {
    display: none;
}




.woocommerce-MyAccount-navigation {}
.woocommerce-MyAccount-navigation ul { list-style: none;  }
.woocommerce-MyAccount-navigation li { margin: 0 0 2px; }
.woocommerce-MyAccount-navigation a { display: block; padding: 10px; background-color: #FDE5DC; font-weight: bold; }

@media (min-width: 1200px) {
	.woocommerce .woocommerce-MyAccount-navigation { width: 20%;  }
	.woocommerce .woocommerce-MyAccount-content { width: 76%;  }
}




.muj-ucet-informace-ke-kurzu { margin-bottom: 150px; }

.muj-ucet-informace { margin-bottom: 75px; }
.muj-ucet-informace-obsah { padding-left: 50px; }

