/*
Theme Name: JEMNÉ ZROZENÍ
Theme URI:
Author: bARTvisions
Author URI:
Description: WordPress theme
Version: 1.0
License: GNU General Public License
License URI:
Tags:
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;	padding: 0;	border: 0;	outline: 0;
	vertical-align: baseline;	background: transparent;}
body {	line-height: 1;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {	content: '';	content: none;}
:focus {	outline: 0;}
ins {	text-decoration: none;}
del {	text-decoration: line-through;}
table {	border-collapse: collapse;	border-spacing: 0;}
/******************************************************************************/


*, *:after, *:before { -moz-box-sizing: border-box; box-sizing: border-box; }



/* =Structure
----------------------------------------------- */
body {
	line-height: 1.5;
	color: #6a6a6a;
	font-family: brandon-grotesque, sans-serif;
	font-size: 16px;
	margin:0;
	padding: 0;
	background: #fff;
}






p { margin: 0 0 1.5em; }

b, strong { font-weight: 600;  }

a {  text-decoration: underline; color: #ca4c6e; text-decoration-skip: ink; }
a:hover { text-decoration: none; }

h2 a, h3 a, h4 a { text-decoration: none; }
h2 a:hover, h3 a:hover, h4 a:hover { text-decoration: underline; }




.tlacitko { display: inline-block; padding: 8px 12px; font-size: 15px; font-weight: 700; border: none;  text-decoration: none; }
.tlacitko { transition: all .5s ease-in-out;  }
.tlacitko.nizsi { padding-top: 6px; padding-bottom: 4px; }

@media (min-width: 768px) {
	.tlacitko { padding: 12px 20px;  }
	.tlacitko.nizsi { padding-top: 8px; padding-bottom: 6px; }
}

.tlacitko { background-color: #FBC5B2; color: #fff; }
.tlacitko:hover { background-color: #F9A689; color: #fff; }

.tlacitko.ruzove { background-color: #CA4C6E; }
.tlacitko.ruzove:hover { background-color: #B5405F; }

.tlacitko.hover-do-ruzove:hover { background-color: #CA4C6E; }

input.tlacitko { font-size: 16px }











h1, h2, h3, h4, h5, h6 { margin: 0 0 10px;   line-height: 1.15; color: #ca4c6e; font-weight: 700;   }
h1 { font-size: 28px;  }
h2 { font-size: 20px;  }
h3 { font-size: 18px;  }
h4 { font-size: 16px;  }
h5, h6 { font-size: 16px; }



@media (min-width: 768px) {
	h1 { font-size: 34px }
	h2 { font-size: 24px }
	h3 { font-size: 20px }
	h4 { font-size: 18px }
	h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; }

	.section-title { font-size: 60px; }
}




ul, ol { margin: 0 0 1em; }
li { margin-left: 50px }

hr { clear: both; border:0; height: 1px; background: silver; width: 100%; margin: 0 0 2em;  }

blockquote { padding: 20px; margin: 0 0 1em; background-color: #FAF3F0; color: #ca4c6e; }
blockquote p { margin: 0 0 1.5em; }
blockquote *:last-child { margin-bottom: 0; }

table { margin: 0 0 1em; }
td, th { padding: .5em;  text-align: left; vertical-align: middle; }
th { font-weight: normal;  }











table.vsenalevo * { text-align: left;  }

input[type=text],input[type=email],input[type=password],input[type=number],input[type=tel],
	textarea, select, option,
	input[type=submit], input[type=button] {
	width: 225px;
	margin: 0; padding: 10px 15px;
	font-size: inherit;
	font-family: brandon-grotesque, sans-serif;
	color: #707176;
	/*border: 2px solid #FAF3F0; */
	border: 2px solid #eeecec;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
}

select { width: auto;  }
select option { padding: 0;  }
select option:disabled { font-style: italic; color: silver;  }


input[type=button] { cursor: pointer; width: auto; background-color: #FBC5B2; border-color: #FBC5B2; color: #fff; font-weight: 700; }
input[type=submit] { cursor: pointer; width: auto; background-color: #CA4C6E; border-color: #CA4C6E; color: #fff; font-weight: 700; }
input[type=submit]:hover { }


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #6a6a6a;
	font-size: 16px;
	font-family: brandon-grotesque, sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #6a6a6a;
	opacity:  1;
	font-size: 16px;
	font-family: brandon-grotesque, sans-serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #6a6a6a;
	opacity:  1;
	font-size: 16px;
	font-family: brandon-grotesque, sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #6a6a6a;
	font-size: 16px;
	font-family: brandon-grotesque, sans-serif;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	color:    #6a6a6a;
	font-size: 16px;
	font-family: brandon-grotesque, sans-serif;
}









.clear { clear: both }
.clearfix:before, .cf:before, .in:before, .clearfix:after, .cf:after, .in:after { content: " "; display: table; }
.clearfix:after, .cf:after, .in:after { clear: both; }


.center { text-align: center;  }









.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}






/* =WordPress Core
-------------------------------------------------------------- */
img { border: 0; max-width: 100%; height: auto;  }

img.alignnone { margin: 1em 0;}
.aligncenter { display: block; margin: 1em auto ;}

img.alignright { margin: 5px 0 20px 30px;}
img.alignleft { margin: 5px 30px 20px 0;}
img.aligncenter { margin: 5px auto;}

@media (min-width: 500px) {
	img.alignright { float: right; }
	img.alignleft { float: left; }
}

.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%; padding: 5px 3px 10px; text-align: center;}
.wp-caption.alignnone { margin: 5px 20px 20px 0;}
.wp-caption.alignleft { margin: 5px 20px 20px 0;}
.wp-caption.alignright { margin: 5px 0 20px 20px;}
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto;}
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px;}
img.wp-smiley { vertical-align: middle; border: 0 !important;}

.gallery { margin: auto; }
.gallery .gallery-item { float: left; margin-top: 10px; text-align: center;	}
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-3 .gallery-item { width: 33%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery-columns-5 .gallery-item { width: 20%; }
.gallery-columns-6 .gallery-item { width: 15%; }
.gallery .gallery-item img { max-width: 90%; height: auto; box-shadow: 0 0 5px #A7BDAB; }
.gallery .gallery-caption {	margin-left: 0;	}












#media-query-breakpoint { font-family: '360'; }

@media  (min-width: 500px) {  #media-query-breakpoint { font-family: '500'; } }
@media  (min-width: 600px) {  #media-query-breakpoint { font-family: '600'; } }
@media  (min-width: 768px) {  #media-query-breakpoint { font-family: '768'; } }
@media  (min-width: 960px) {  #media-query-breakpoint { font-family: '960'; } }
@media  (min-width: 1100px) {  #media-query-breakpoint { font-family: '1100'; } }
@media  (min-width: 1200px) {  #media-query-breakpoint { font-family: '1200'; } }
@media  (min-width: 1400px) {  #media-query-breakpoint { font-family: '1400'; } }
@media  (min-width: 1600px) {  #media-query-breakpoint { font-family: '1600'; } }
@media  (min-width: 1800px) {  #media-query-breakpoint { font-family: '1800'; } }















/*
  ,ad8888ba,    88888888ba   88888888888    ,ad8888ba,   888b      88  88888888888
 d8"'    `"8b   88      "8b  88            d8"'    `"8b  8888b     88  88
d8'        `8b  88      ,8P  88           d8'            88 `8b    88  88
88          88  88aaaaaa8P'  88aaaaa      88             88  `8b   88  88aaaaa
88          88  88""""""8b,  88"""""      88             88   `8b  88  88"""""
Y8,        ,8P  88      `8b  88           Y8,            88    `8b 88  88
 Y8a.    .a8P   88      a8P  88            Y8a.    .a8P  88     `8888  88
  `"Y8888Y"'    88888888P"   88888888888    `"Y8888Y"'   88      `888  88888888888
*/



.mejs-container { width: 100% !important; }


.strankovani {  }
.strankovani .dalsi { float: right; }
.strankovani .predchozi { float: left; }


.strankovani.cisla { clear: both;  margin-top: 30px; margin-bottom: 30px; text-align: right; padding-right: 30px; }
.strankovani.cisla .page-numbers { display: inline-block; padding: 2px 12px; font-size: 18px; margin-left: 1px; margin-right: 1px; border: 2px solid #F6EAE5; }
.strankovani.cisla a.page-numbers { text-decoration: none; color: #6a6a6a; }
.strankovani.cisla .page-numbers.current, .strankovani.cisla a.page-numbers:hover { color: #fff; background-color: #CA4C6E; }






html, body { height: 100%; }

@media (min-width: 960px) {


	.flex .web-wrapper { display: flex; min-height: 100vh; }

	.header, .main { float: left; position: relative; transition: height .2s ease-in-out; }
	.header { width: 25%; background-color: #fff; z-index: 2; }
	.main {  width: 75%; background-color: #fff; z-index: 1; padding-bottom: 90px; /* pos abs footer! */ }
	.header { box-shadow: 0px 0 20px 0px gray; }

	.flex .header { flex: 0 0 25%; width: auto; float: none; }
	.flex .main { flex: 1 1 auto; width: auto; float: none; }

}

@media (min-width: 1400px) {

	.header { width: 22% }
	.main { width: 78% }

	.flex .header { flex: 0 0 22% }

}
@media (min-width: 1600px) {
	.header { width: 20%;	}
	.main { width: 80%;	}

	.flex .header { flex: 0 0 20% }

}
@media (min-width: 1700px) {
	.header { width: 19%;	}
	.main { width: 81%;	}

	.flex .header { flex: 0 0 19% }

}



/*
.in	{ width: 94%; max-width: 1000px; margin: auto; }
*/

.content { padding: 20px 0; }

.p20p50 { padding: 20px; }

@media (min-width: 960px) {
	.p20p50 { padding: 20px 50px; }
}




.zpet-pod-nadpisem { margin-bottom: 10px; }
.zpet-pod-nadpisem a { font-size: 14px; color: #a9a9a9; text-decoration: none; }







.share-buttons { margin-top: 35px; min-height: 24px; }
.product-description .share-buttons { margin-top: 15px;  }









.google-mapa { height: 400px; }












/*
 ad88888ba   88             ,ad8888ba,    88        88  88888888ba     ,ad8888ba,   88888888888
d8"     "8b  88            d8"'    `"8b   88        88  88      "8b   d8"'    `"8b  88
Y8,          88           d8'        `8b  88        88  88      ,8P  d8'            88
`Y8aaaaa,    88           88          88  88        88  88aaaaaa8P'  88             88aaaaa
  `"""""8b,  88           88          88  88        88  88""""""'    88             88"""""
        `8b  88           Y8,        ,8P  88        88  88           Y8,            88
Y8a     a8P  88            Y8a.    .a8P   Y8a.    .a8P  88            Y8a.    .a8P  88
 "Y88888P"   88888888888    `"Y8888Y"'     `"Y8888Y"'   88             `"Y8888Y"'   88888888888
*/





.column-sidebar { background-color: #FAF3F0; }

@media (min-width: 960px) {
	.column-main.border { border: 2px solid #FAF3F0; }

	.column-sidebar { background-image: url(img/sidebar-symbol.png); background-repeat: no-repeat; background-position: 0 300px; }

}

@media (min-width: 1200px) {
	.column-main { width: 75%; float: left; }
	.column-main.border { border-right: 0; }
	.column-sidebar { width: 25%; float: right; }
}



/* content padding */

.content-padding { padding: 15px; }

@media (min-width: 960px) {
	.content-padding { padding: 0 30px 30px 30px; }
}
@media (min-width: 1400px) {
	.content-padding { padding: 0 50px 50px 50px; }
}



/* title */

.main-title {font-weight: 300; }


@media (min-width: 960px) {
	.main-title { margin-bottom: 30px; font-size: 40px;  }
	.main-title.nad-zpetnym-odkazem { margin-bottom: 20px; }
}

@media (min-width: 1200px) {

	.main-title { margin-bottom: 50px; font-size: 50px;  }
	.main-title.nad-zpetnym-odkazem { margin-bottom: 30px; }
}







/*
 ad88888ba   88  88888888ba,    88888888888  88888888ba          db         88888888ba
d8"     "8b  88  88      `"8b   88           88      "8b        d88b        88      "8b
Y8,          88  88        `8b  88           88      ,8P       d8'`8b       88      ,8P
`Y8aaaaa,    88  88         88  88aaaaa      88aaaaaa8P'      d8'  `8b      88aaaaaa8P'
  `"""""8b,  88  88         88  88"""""      88""""""8b,     d8YaaaaY8b     88""""88'
        `8b  88  88         8P  88           88      `8b    d8""""""""8b    88    `8b
Y8a     a8P  88  88      .a8P   88           88      a8P   d8'        `8b   88     `8b
 "Y88888P"   88  88888888Y"'    88888888888  88888888P"   d8'          `8b  88      `8b
*/





.column-sidebar .podnadpis { padding: 20px; margin: 0; font-size: 18px;  }


@media (min-width: 1400px) {
	.column-sidebar .podnadpis  { padding: 20px 20px 20px 40px }
}

@media (min-width: 1600px) {
	.column-sidebar .podnadpis span { position: relative; padding-left: 20px; }
	.column-sidebar .podnadpis span:before { content: ''; display: block; width: 9px; height: 4px; position: absolute; left: 0; top: 11px; }
	.column-sidebar .podnadpis span:before { background: url(img/sipecka-dolu.png) 0 0 no-repeat; }
	.column-sidebar .podnadpis span { padding-left: 40px; }
}





.sidebar-rubriky { margin-bottom: 30px; }
.sidebar-rubriky .podnadpis { border-bottom: 2px solid #fff; }

.sidebar-rubriky ul { list-style: none; margin: 0;  }
.sidebar-rubriky li { margin: 0; }
.sidebar-rubriky a { display: block; padding: 10px 20px; font-size: 15px; color: #ca4c6e; text-decoration: none; }
.sidebar-rubriky a { border-bottom: 2px solid #F6EAE5; transition: all .5s ease-in-out; }
.sidebar-rubriky a:hover { background-color: #F6EAE5; }
.sidebar-rubriky .current-cat a { background-color: #FBC5B2;  font-weight: 700; }

.sidebar-rubriky .children { margin: 0; }
.sidebar-rubriky .children a { padding-left: 40px; font-size: 14px }

@media (min-width: 960px) {
	.sidebar-rubriky a {   font-size: 18px }
}

@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
	.sidebar-rubriky a { padding: 15px 20px 15px 40px }
	.sidebar-rubriky .children a { padding-left: 60px; }
}





.sidebar-vyhledavani { margin-bottom: 30px; }
.sidebar-vyhledavani .search-form-wrapper { padding: 0 20px;  }

.search-form { display: block; position: relative;  height: 46px; width: 100%; background-color: #fff; }
.search-form .search-field {  display: block; width: 80%; height: 46px; margin: 0; padding-left: 10px; background: transparent; -webkit-appearance: none; appearance: none; }
.search-form .search-field {  border: 2px solid #eeecec; border-right: 0; }
.search-form .search-submit { position: absolute; top: 0; right: 0; width: 20%; height: 100%; display: block; margin: 0;  border: 0; }
.search-form .search-submit {  }

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

@media (min-width: 1200px)  {
	.search-form .search-field { width: 70%;  }
	.search-form .search-submit { width: 30%;  }
}

@media (min-width: 1400px) {
	.sidebar-vyhledavani .search-form-wrapper { padding: 0 40px; }
}








.sidebar-nejblizsi-terminy {  }
.sidebar-nejblizsi-terminy .podnadpis {  }

.sidebar-nejblizsi-terminy-seznam { padding: 0 20px; }

.sidebar-nejblizsi-terminy .termin { padding: 20px 0; border-bottom: 2px solid #F6EAE5; color: #ca4c6e; }
.sidebar-nejblizsi-terminy .termin:nth-child(3) { border-bottom: 0; margin-bottom: 20px; }

.sidebar-nejblizsi-terminy .termin p { margin: 0; line-height: 1.4; }
.sidebar-nejblizsi-terminy .termin .odkaz { font-weight: 700; }

.sidebar-nejblizsi-terminy .datum span { position: relative;  padding-left: 30px; }
.sidebar-nejblizsi-terminy .datum span:before { content:''; display: block; width: 13px; height: 12px; position: absolute; left: 0; top: 3px; }
.sidebar-nejblizsi-terminy .datum span:before { background: url(img/kalendar.png) 0 0 no-repeat; background-size: 13px 12px; }

.sidebar-nejblizsi-terminy .lokalita span { position: relative;  padding-left: 30px; }
.sidebar-nejblizsi-terminy .lokalita span:before { content:''; display: block; width: 11px; height: 14px; position: absolute; left: 0; top: 3px; }
.sidebar-nejblizsi-terminy .lokalita span:before { background: url(img/lokalita.png) 0 0 no-repeat; background-size: 11px 14px; }

.sidebar-nejblizsi-terminy .odkaz { padding-left: 30px; }

@media (min-width: 1400px) {
	.sidebar-nejblizsi-terminy-seznam { padding: 0 40px; }
	.sidebar-nejblizsi-terminy .termin  {  }

}

















































/*
88        88  88                  db         8b           d8  88    ,ad8888ba,   88      a8P          db
88        88  88                 d88b        `8b         d8'  88   d8"'    `"8b  88    ,88'          d88b
88        88  88                d8'`8b        `8b       d8'   88  d8'            88  ,88"           d8'`8b
88aaaaaaaa88  88               d8'  `8b        `8b     d8'    88  88             88,d88'           d8'  `8b
88""""""""88  88              d8YaaaaY8b        `8b   d8'     88  88             8888"88,         d8YaaaaY8b
88        88  88             d8""""""""8b        `8b d8'      88  Y8,            88P   Y8b       d8""""""""8b
88        88  88            d8'        `8b        `888'       88   Y8a.    .a8P  88     "88,    d8'        `8b
88        88  88888888888  d8'          `8b        `8'        88    `"Y8888Y"'   88       Y8b  d8'          `8b
*/

.header {    }
.header-main { position: relative; padding: 10px; }


.hlavni-logo { display: block; width: 60px; float: left; }
.hlavni-logo img { display: block; max-width: 100%; margin: 0 auto; }


.menu-toggle { display: block; float: right; width: 46px; height: 46px; margin: 0 auto 0; position: relative; background-color: #CA4C6E; }
.menu-toggle span:after,
.menu-toggle span:before { content: "";  position: absolute; left: 0; top: -8px; background-color: #fff;  }
.menu-toggle span:after{  left: 0; top: 8px; background-color: #fff; }
.menu-toggle span { position: relative; left: 11px; top: 22px;  display: block; background-color: #fff; }
.menu-toggle span,
.menu-toggle span:after,
.menu-toggle span:before {  width: 25px;  height: 2px;   transition: all 0.3s;   backface-visibility: hidden;  }
.menu-toggle.on span {  background-color: transparent; }
.menu-toggle.on span:before {  transform: rotate(45deg) translate( 6px, 6px); }
.menu-toggle.on span:after {  transform: rotate(-45deg) translate(5px, -6px); }


@media (min-width: 600px) {
	.header-main { padding: 20px; }
	.hlavni-logo { width: 90px; }
	.menu-toggle { margin-top: 8px; }
}

@media (min-width: 768px) {
}

@media (min-width: 960px) {
	.hlavni-logo { float: none; width: 150px; margin: 0 auto 35px; }
}

@media (min-width: 1100px) {
	.hlavni-logo { width: 100%; width: 223px; }
}

@media (min-width: 1200px) {
	.header-main { padding: 30px 40px; }
}

@media (min-width: 1400px) {
	.header-main { padding: 30px 50px; }
}








.relaxacni-hudba { display: none;  }

@media (min-width: 960px) {
	.relaxacni-hudba { float: left; display: block;  margin-bottom: 10px; }
	.relaxacni-hudba a { position: relative; padding-left: 35px; font-size: 13px; color: #a9a9a9; text-decoration: none; }
	.relaxacni-hudba a:before { content: '';  display: block; width: 25px; height: 19px; background: url(img/sound.png);  }
	.relaxacni-hudba a:before { position: absolute; left: 0; top: 0; }
	.relaxacni-hudba a:hover { color: #CA4C6E; text-decoration: underline;  }
}







.prepinac-jazyku { text-align: center; color: #fbc5b2; }
.prepinac-jazyku a { color: #fbc5b2; }
.prepinac-jazyku a.aktivni { color: #ca4c6e; }

@media (max-width: 959px) {
	.prepinac-jazyku { position: absolute; top: 20px; right: 70px; }
}
@media (min-width: 960px) {
	.prepinac-jazyku { float: right; margin-bottom: 10px;  }
}








/* I ve strance Kontakty */
.kontakt-item { margin-bottom: 5px; color: #ca4c6e; }
.kontakt-item:last-child { margin-bottom: 0px; }

.kontakt-item .item { position: relative; padding-left: 35px; }
.kontakt-item .item:before { content: ''; display: block; width: 17px; height: 17px;  position: absolute; top: 2px; left: 0; }
.kontakt-telefon-1 .item:before,
	.kontakt-telefon-2 .item:before { background: url(img/phone.png) center center no-repeat; background-size: 17px;  }
.kontakt-hlavni-email .item:before { width: 18px; height: 14px; top: 5px; background: url(img/envelope.png) center center no-repeat; background-size: 18px 14px; }


.header .kontakty { display: none; }

@media (min-width: 960px) {
	.header .kontakty { display: block; margin-top: 30px;  }
}








/* I ve strance Kontakty */
.socialka { display: inline-block; width: 18px; height: 18px; margin-right: 20px; vertical-align: middle; transition: opacity .2s ease-in-out; }
.socialka.fb { background: url(img/fb.png); background-size: 18px 18px; }
.socialka.gplus { width: 29px; height: 18px; background: url(img/gplus.png); background-size: 29px 18px; }
.socialka.insta { background: url(img/insta.png); background-size: 18px 18px; }
.socialka:hover { opacity: .6; }

.header .socialky { display: none; }

@media (min-width: 960px) {
	.header  .socialky { display: block; margin-top: 30px; }
}









/*
88b           d88  88888888888  888b      88  88        88
888b         d888  88           8888b     88  88        88
88`8b       d8'88  88           88 `8b    88  88        88
88 `8b     d8' 88  88aaaaa      88  `8b   88  88        88
88  `8b   d8'  88  88"""""      88   `8b  88  88        88
88   `8b d8'   88  88           88    `8b 88  88        88
88    `888'    88  88           88     `8888  Y8a.    .a8P
88     `8'     88  88888888888  88      `888   `"Y8888Y"'
*/


.navigace {   }
.navigace ul { list-style: none; margin: 0;  }
.navigace a { text-decoration: none; color: #231F20; }
.navigace a:hover { text-decoration: underline; }


@media  (max-width: 959px) {
	.navigace { display: none; clear: both; padding-top: 20px; }
	.navigace li { margin: 0 0 2px 0 ; }
	.navigace a { display: block; padding: 10px; font-weight: bold; color: #CA4C6E; background-color: #FDE5DC;   }

	.navigace .sub-menu { display: none;  }
}


@media  (min-width: 960px) {

	.menu-toggle { display: none; }
	.navigace { display: block !important;    }
	.navigace .menu {  }
	.navigace .menu > li {  margin: 0; padding: 0; position: relative; }
	.navigace a { display: block; font-size: 18px; padding: 10px 0;  line-height: 1; font-weight: 300; }
	.navigace a:hover, .navigace .current-menu-item > a, .navigace li:hover > a {  color: #ca4c6e; font-weight: bold; text-decoration: none; }

	.navigace .sub-menu { display: none;  }
}

@media (min-width: 1100px) {
	.navigace a {   }
}


















/*
888888888888    ,ad8888ba,    88888888ba       88             ,ad8888ba,      ,ad8888ba,   88  888b      88
     88        d8"'    `"8b   88      "8b      88            d8"'    `"8b    d8"'    `"8b  88  8888b     88
     88       d8'        `8b  88      ,8P      88           d8'        `8b  d8'            88  88 `8b    88
     88       88          88  88aaaaaa8P'      88           88          88  88             88  88  `8b   88
     88       88          88  88""""""'        88           88          88  88      88888  88  88   `8b  88
     88       Y8,        ,8P  88               88           Y8,        ,8P  Y8,        88  88  88    `8b 88
     88        Y8a.    .a8P   88               88            Y8a.    .a8P    Y8a.    .a88  88  88     `8888
     88         `"Y8888Y"'    88               88888888888    `"Y8888Y"'      `"Y88888P"   88  88      `888
*/

.top-login { background-color: #FDE5DC; }

.top-login { display: block; padding: 5px 10px; text-align: right; color: #CA4C6E; font-size: 13px; }

.top-login a {  color: #CA4C6E; }

.top-login .prihlaseni, .top-login .jmeno { position: relative; }
.top-login .prihlaseni:before, .top-login .jmeno:before { content: ''; position: absolute; left: -22px; top: 3px; display: block; width: 14px; height: 13px;  }
.top-login .prihlaseni:before, .top-login .jmeno:before { background-image: url(img/user.png); background-size: 14px 13px;  }

@media (min-width: 960px) {
	.top-login { background-color: transparent; }
}



















/*
88888888888    ,ad8888ba,      ,ad8888ba,    888888888888  88888888888  88888888ba
88            d8"'    `"8b    d8"'    `"8b        88       88           88      "8b
88           d8'        `8b  d8'        `8b       88       88           88      ,8P
88aaaaa      88          88  88          88       88       88aaaaa      88aaaaaa8P'
88"""""      88          88  88          88       88       88"""""      88""""88'
88           Y8,        ,8P  Y8,        ,8P       88       88           88    `8b
88            Y8a.    .a8P    Y8a.    .a8P        88       88           88     `8b
88             `"Y8888Y"'      `"Y8888Y"'         88       88888888888  88      `8b
*/



.footer { clear: both; text-align: center; font-size: 14px; background: url(img/duha.png) bottom center no-repeat; background-size: 100% 6px; }
.footer .in { padding: 20px 0; }
.footer a { color: inherit; text-decoration: none; }

.footer-mailchimp, .footer-copy { padding: 10px; }

@media (min-width: 1200px) {
	.footer { position: absolute; bottom: 0; left: 0; width: 100%; }
}

.footer-mailchimp {  max-width: 600px; margin: auto; }
.footer-mc-form { position: relative; }
#mc-email { width: 50%; float: left; }
#mc-submit { width: 50%; float: right; }

.footer-mailchimp .success { font-weight: bold; color: green; }
.footer-mailchimp .error { font-weight: bold; color: red; }

@media (min-width: 500px) {
	#mc-email { width: 65%;  }
	#mc-submit { width: 35%;  }
}

@media (min-width: 1200px) {
	.footer .in { padding: 20px 40px; }

	.footer-mailchimp { float: left; width: 50%; max-width: none; text-align: left;}
	.footer-copy { float: right; width: 50%; padding-top: 25px; text-align: right; }

	#mc-email { float: none; width: 250px;  }
	#mc-submit { float: none;  }
}








/*
88888888ba   88888888ba   88  88        88  88                         d8      88888888ba   88888888888    ,ad8888ba,
88      "8b  88      "8b  88  88        88  88                       ,8P'      88      "8b  88            d8"'    `"8b
88      ,8P  88      ,8P  88  88        88  88                      d8"        88      ,8P  88           d8'
88aaaaaa8P'  88aaaaaa8P'  88  88aaaaaaaa88  88                    ,8P'         88aaaaaa8P'  88aaaaa      88
88""""""'    88""""88'    88  88""""""""88  88                   d8"           88""""88'    88"""""      88      88888
88           88    `8b    88  88        88  88                 ,8P'            88    `8b    88           Y8,        88
88           88     `8b   88  88        88  88                d8"              88     `8b   88            Y8a.    .a88
88           88      `8b  88  88        88  88888888888      8P'               88      `8b  88888888888    `"Y88888P"
*/



.prihlaseni-nebo-registrace { max-width: 420px; margin: auto; padding: 20px; border: 2px solid #FAF3F0; }

.prihlaseni-nebo-registrace input[type="text"],.prihlaseni-nebo-registrace input[type="password"] { width: 100%; }











































/*
88        88  88888888ba
88        88  88      "8b
88        88  88      ,8P
88aaaaaaaa88  88aaaaaa8P'
88""""""""88  88""""""'
88        88  88
88        88  88
88        88  88
*/


.content.hp { padding: 0; }




















/*
88888888ba   88888888ba     ,ad8888ba,    88b           d88    ,ad8888ba,
88      "8b  88      "8b   d8"'    `"8b   888b         d888   d8"'    `"8b
88      ,8P  88      ,8P  d8'        `8b  88`8b       d8'88  d8'        `8b
88aaaaaa8P'  88aaaaaa8P'  88          88  88 `8b     d8' 88  88          88
88""""""'    88""""88'    88          88  88  `8b   d8'  88  88          88
88           88    `8b    Y8,        ,8P  88   `8b d8'   88  Y8,        ,8P
88           88     `8b    Y8a.    .a8P   88    `888'    88   Y8a.    .a8P
88           88      `8b    `"Y8888Y"'    88     `8'     88    `"Y8888Y"'
*/


.promo {   }

.promo > div { float: left; width: 50%;  ; }
.promo a { display: block; text-decoration: none; font-weight: 700; color: #fff; }

.promo a { position: relative; height: 200px; overflow: hidden; }

.promo-bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 5; }
.promo-title { position: absolute; bottom: 0; left: 0; width: 100%; z-index: 10; padding: 15px 10px; text-align: center; }

.promo-bg { background-repeat: no-repeat; background-position: center center;  background-size: cover; }

.promo-hypnoporod .promo-bg { background-image: url(img/promo-hypnoporod.jpg?4); }
.promo-kurzy .promo-bg { background-image: url(img/promo-kurzy.jpg?4); }
.promo-pribehy-klientu .promo-bg { background-image: url(img/promo-pribehy-klientu.jpg?4); }
.promo-eshop .promo-bg { background-image: url(img/promo-eshop.jpg?4); }

.promo-bg { transition: opacity 1s,transform 1s,-webkit-transform 1s; }
.promo a:hover .promo-bg { opacity: .9; transform: scale3d( 1.1, 1.1, 1 ); }

.promo-hypnoporod .promo-title {  background-color: rgba( 221, 194, 158, .9 ); }
.promo-kurzy .promo-title {  background-color: rgba( 212, 166, 175, .9 ); }
.promo-pribehy-klientu .promo-title {  background-color: rgba( 214, 215, 145, .9 ); }
.promo-eshop .promo-title {  background-color: rgba( 215, 190, 165, .9 ); }


@media (min-width: 500px) {
	.promo a { height: 300px; }
}

@media (min-width: 960px) {
	.promo > div { width: 25%;   }
	.promo a { position: relative; height: 300px; overflow: hidden; }
}

@media (min-width: 1100px) {
	.promo a { height: 350px; }
	.promo-title { padding: 20px; font-size: 20px }
}
@media (min-width: 1200px) {
	.promo a { height: 390px; }
}

@media (min-width: 1400px) {
	.promo a { height: 450px; }
}
@media (min-width: 1600px) {
	.promo a { height: 535px; }
}









.hp-title { margin: 50px 20px; }
.hp-title h1 { margin: 0; font-weight: 300; }

@media (min-width: 960px) {
	.hp-title { margin: 60px 20px; }
	.hp-title h1 { font-size: 50px; }
}


















.hp-kurzy { margin-bottom: 100px; background-color: #faf3f0; }

.hp-kurz { border-bottom: 2px solid #fff; }

.hp-kurz-top { padding: 20px; border-bottom: 2px solid #fff; }

.hp-kurz-top-nazev { margin-bottom: 10px; padding: 5px 15px 5px 0; font-size: 15px; font-weight: bold; color: #a9a9a9; }

.hp-kurz-top-odkaz { padding: 5px 0 5px 70px; background: url(img/kolecko-se-srdcem.png) 20px center no-repeat; background-size: contain; }
.hp-kurz-top-odkaz a { color: #6a6a6a; font-size: 17px; }

.hp-kurzy .termin-box { border-bottom: 2px solid #fff; }

@media (min-width: 768px) {
	.hp-kurz-top { padding: 30px; }
	.hp-kurz-top h2 { font-size: 30px }
	.hp-kurz-top-nazev { width: 50%; float: left; margin-bottom: 0; }
	.hp-kurz-top-odkaz { width: 50%; float: right; }

	.hp-kurzy .termin-box { border-bottom: 0; }
	.hp-kurzy .termin-box:nth-child(1) { border-right: 2px solid #fff; }
}

@media (min-width: 960px) {
	.hp-kurzy { margin-bottom: 150px;  }
	.hp-kurz-top { padding: 40px 50px 25px; }
}

@media (min-width: 1400px) {
	.hp-kurz { border-bottom: 0; }
	.hp-kurz-1 { width: 50%; float: left; border-right: 2px solid #fff; }
	.hp-kurz-2 { width: 50%; float: right; }
}
























.hp-reference { margin-bottom: 100px; }








.hp-blog { margin-bottom: 100px; }
.hp-blog h2 { margin-bottom: 30px; font-size: 24px; }

.hp-blog-prispevky { padding: 20px; background-color: #FAF3F0; }

.hp-blog-prispevek { margin-bottom: 20px; }
.hp-blog-prispevek .foto { width: 80px; float: left;  }
.hp-blog-prispevek .info { margin-left: 100px;  }
.hp-blog-prispevek .info h3 { font-size: 16px  }
.hp-blog-prispevek .info .datum { margin-bottom: 8px; font-weight: bold; color: #a9a9a9; }
.hp-blog-prispevek .info .excerpt { display: none; margin-bottom: 0;}


.hp-blog-vse { text-align: center; margin-bottom: 20px; }
.hp-blog-vse a { display: inline-block; padding: 20px 40px;  text-decoration: none; font-weight: 700; background: #fbc5b2 url(img/listky.png) bottom right no-repeat; background-size: 40px;  }
.hp-blog-vse a:hover { text-decoration: underline; }

@media (min-width: 768px) {
	.hp-blog h2 { font-size: 30px }
	.hp-blog-prispevek { margin-bottom: 40px; }
	.hp-blog-prispevek .foto { width: 180px; }
	.hp-blog-prispevek .info { margin-left: 220px; }
	.hp-blog-prispevek .info h3 { margin-bottom: 8px; font-size: 20px;   }
	.hp-blog-prispevek .info .excerpt { display: block;}
}



@media (min-width: 960px) {
	.hp-blog-prispevky { padding: 50px 20px; background: url(img/hp-blog.jpg) top center no-repeat; background-size: cover; }
	.hp-blog-prispevek { padding: 20px; background-color: #fff; }

	.hp-blog-vse { margin-bottom: 0; }
}



@media (min-width: 1600px) {
	.hp-blog h2 { margin-bottom: 70px; }

	.hp-blog-prispevky { padding: 110px 0; }
	.hp-blog-prispevek { float: left; width: 45%; margin-bottom: 0; padding: 30px; }
	.hp-blog-vse { display: block; width: 10%; float: right; margin: 0;  }
	.hp-blog-vse { background: #fbc5b2 url(img/listky.png) bottom right no-repeat; }
	.hp-blog-vse a { background: none; padding: 20px 10px; }



	.hp-blog-prispevek:first-child { border-right: 2px solid #F9F0EC;  }
}



















.hp-eshop { margin-bottom: 100px; }

.hp-eshop .products { background-color: #FAF3F0;  }

.hp-eshop-vse { text-align: center; margin-top: 40px; margin-bottom: 20px; }
.hp-eshop-vse a { display: inline-block; padding: 20px 40px;  text-decoration: none; font-weight: 700; background: #fbc5b2 url(img/listky.png) bottom right no-repeat; background-size: 40px;  }
.hp-eshop-vse a:hover { text-decoration: underline; }


@media (min-width: 768px) {
	.hp-eshop > h2 { font-size: 30px }
	.hp-eshop .woocommerce ul.products li.product { margin: 0; width: 25%; padding: 0; border: 0; border-right: 2px solid #fff; }
	.hp-eshop .woocommerce ul.products li.product:last-child { border-right: 0;}
}

@media (min-width: 960px) {
	.hp-eshop > h2 { margin-bottom: 60px; }
}

@media (min-width: 1600px) {
	.hp-eshop .woocommerce { float: left;width: 90%; }
	.hp-eshop-vse { display: block; width: 10%; float: right; margin: 0; }
	.hp-eshop-vse { background: #fbc5b2 url(img/listky.png) bottom right no-repeat; }
	.hp-eshop-vse a { background: none; padding: 20px 10px; }
}























/*
88888888ba   88             ,ad8888ba,      ,ad8888ba,
88      "8b  88            d8"'    `"8b    d8"'    `"8b
88      ,8P  88           d8'        `8b  d8'
88aaaaaa8P'  88           88          88  88
88""""""8b,  88           88          88  88      88888
88      `8b  88           Y8,        ,8P  Y8,        88
88      a8P  88            Y8a.    .a8P    Y8a.    .a88
88888888P"   88888888888    `"Y8888Y"'      `"Y88888P"
*/












.blog-item { padding: 20px 10px; background: #fff; border-bottom: 2px solid #FAF3F0; }
.blog-item:last-child { border-bottom: 0; }
.blog-item .foto { width: 90px; float: left; }
.blog-item .info { margin-left: 110px; }
.blog-item .nadpis { font-size: 16px; margin-bottom: 20px;}
.blog-item .excerpt { display: none; }

.blog-item .meta {  }
.blog-item .meta > p { display: inline-block; margin: 0 20px 5px 0; font-size: 14px; color: #ca4c6e;	 }

.blog-item .meta .datum time { position: relative;  padding-left: 25px; }
.blog-item .meta .datum time:before { content:''; display: block; width: 13px; height: 12px; position: absolute; left: 0; top: 3px; }
.blog-item .meta .datum time:before { background: url(img/kalendar.png) 0 0 no-repeat; background-size: 13px 12px; }

.blog-item .meta .autor span { position: relative;  padding-left: 25px; }
.blog-item .meta .autor span:before { content:''; display: block; width: 14px; height: 13px; position: absolute; left: 0; top: 3px; }
.blog-item .meta .autor span:before { background: url(img/user.png) 0 0 no-repeat; background-size: 14px 13px; }

.blog-text { clear: both; margin-top: 10px; }

@media (min-width: 768px) {
	.blog-item { padding: 20px;  }
	.blog-item .foto { width: 140px; }
	.blog-item .info { margin-left: 170px; }
	.blog-item .nadpis { margin-bottom: 10px; }
	.blog-item h1.nadpis { font-size: 24px; margin-bottom: 30px;}

	.blog-item .excerpt { display: block; font-size: 13px }
}

@media (min-width: 960px) {
	.blog-text { margin-top: 30px; }
}

@media (min-width: 1200px) {
	.blog-item .nadpis { font-size: 20px }
}

@media (min-width: 1400px) {
	.blog-item { padding: 35px; }
	.blog-item .foto { width: 250px;  }
	.blog-item .info { margin-left: 300px; }
	.blog-item .nadpis { margin-bottom: 30px; }
	.blog-item h1.nadpis { font-size: 30px; margin-bottom: 50px;}
	.blog-item .excerpt { margin-bottom: 25px; font-size: 16px; }
}

@media (min-width: 1600px) {
	.blog-item { padding: 50px; }
	.blog-item .meta > p { margin-right: 40px; }
}



















.comments-area {
	background-color: #fff;
	border-top: 1px solid #eaeaea;
	border-top: 1px solid rgba(51, 51, 51, 0.1);
	margin-top: 30px;
	padding-top: 30px;
}

.comments-area > :last-child {
	margin-bottom: 0;
}

.comment-list + .comment-respond {
	border-top: 1px solid #eaeaea;
	border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
	padding-top: 1.6em;
	margin-top: 1.6em;
}

.comments-title {
	margin-bottom: 1.3333em;
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid #eaeaea;
	border-top: 1px solid rgba(51, 51, 51, 0.1);
	padding: 1.6em 0;
}

.comment-list .children {
	list-style: none;
	margin: 2em 0 0 0;
}

.comment-list > li {
	margin-left: 0;
	margin-bottom: 3em;
}

.comment-list .children > li {
	padding-left: 0.8em;
}

.comment-author {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	margin-bottom: 0.4em;
}

.comment-author a:hover {
	border-bottom: 1px solid #707070;
	border-bottom: 1px solid rgba(51, 51, 51, 0.7);
}

.comment-author .avatar {
	float: left;
	margin-right: 0.8em;
}


.commentmetadata,
.pingback .edit-link {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	line-height: 1.5;
}

.commentmetadata a,
.pingback .edit-link a {
	color: #707070;
}


.commentmetadata a:hover,
.commentmetadata a:focus,
.pingback .edit-link a:hover,
.pingback .edit-link a:focus {
	color: #333;
}

.commentmetadata {
	margin-bottom: 1.6em;
}

.commentmetadata .edit-link {
	margin-left: 1em;
}

.pingback .edit-link {
	margin-left: 1em;
}

.pingback .edit-link:before {
	top: 5px;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 1.6em 1.3333em;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-content > :last-child {
	margin-bottom: 0;
}

.comment-list .reply {
	font-size: 12px;
}

.comment-list .reply a {
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	display: inline-block;
	line-height: 1;
	margin-top: 1em;
	padding: 0.4167em 0.8333em;
	font-size: 12px;
}



.comment-list .comment-respond { margin-top: 1.6em; }

.comment-form {

}

.comment-form label {  }

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
	width: 100%;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	margin-bottom: 2em;
}
.comment-awaiting-moderation {
	font-weight: bold;
	color: #CA4C6E;
}

.logged-in-as a:hover {
	border-bottom: 1px solid #333;
}

.no-comments {
	border-top: 1px solid #eaeaea;
	border-top: 1px solid rgba(51, 51, 51, 0.1);
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-weight: 700;
	padding-top: 1.6em;
}

.comment-navigation + .no-comments {
	border-top: 0;
}

.form-allowed-tags code {
	font-family: Inconsolata, monospace;
}

.form-submit {
	margin-bottom: 0;
}

.required {
	color: #c0392b;
}

.comment-reply-title small a {
	font-size: 10px
}

















/*
88             ,ad8888ba,    88      a8P          db         88           88  888888888888         db
88            d8"'    `"8b   88    ,88'          d88b        88           88       88             d88b
88           d8'        `8b  88  ,88"           d8'`8b       88           88       88            d8'`8b
88           88          88  88,d88'           d8'  `8b      88           88       88           d8'  `8b
88           88          88  8888"88,         d8YaaaaY8b     88           88       88          d8YaaaaY8b
88           Y8,        ,8P  88P   Y8b       d8""""""""8b    88           88       88         d8""""""""8b
88            Y8a.    .a8P   88     "88,    d8'        `8b   88           88       88        d8'        `8b
88888888888    `"Y8888Y"'    88       Y8b  d8'          `8b  88888888888  88       88       d8'          `8b
*/


.detail-lokality-text { margin-bottom: 40px; }

@media (min-width: 960px) {
	.detail-lokality-mapa { height: 500px; }
}




























/*
88           88888888888  88      a8P   888888888888    ,ad8888ba,    88888888ba   88      a8P   8b        d8
88           88           88    ,88'         88        d8"'    `"8b   88      "8b  88    ,88'     Y8,    ,8P
88           88           88  ,88"           88       d8'        `8b  88      ,8P  88  ,88"        Y8,  ,8P
88           88aaaaa      88,d88'            88       88          88  88aaaaaa8P'  88,d88'          "8aa8"
88           88"""""      8888"88,           88       88          88  88""""88'    8888"88,          `88'
88           88           88P   Y8b          88       Y8,        ,8P  88    `8b    88P   Y8b          88
88           88           88     "88,        88        Y8a.    .a8P   88     `8b   88     "88,        88
88888888888  88888888888  88       Y8b       88         `"Y8888Y"'    88      `8b  88       Y8b       88
*/







.lektorky-mapa {  }

.lektorky-mapa {
	width: 100%;
	max-width: 500px;
	margin: 0 auto 30px;
	padding: 0;
	position: relative;
	height: 275px;
}
.lektorky-mapa svg {
	width: 100%;
	height: 100%;
}
.lektorky-mapa #mapasvg-cesko {
	width: 100%;
}

.lektorky-mapa .kraj {
	stroke: #fff;
	fill: #FBC5B2;
	transition: all 0.3s;
}
.lektorky-mapa .kraj:hover, .lektorky-mapa .kraj.selected {
	stroke: #fff;
	fill: #CA4C6E;
	transition: all 0.3s;
	cursor: pointer;
}

@media (min-width: 1200px) {
	.lektorky-mapa { margin-bottom: 60px; }
}






.lektorky-prehled { border: 1px solid #FAF3F0; }

.lektorka { position: relative; padding: 10px; text-align: center; border-top: 1px solid #FAF3F0; border-bottom: 1px solid #FAF3F0;  }
.lektorka a { display: block; padding: 40px 10px; text-decoration: none; }
.lektorka a:hover { background-color: #FAF3F0; }
.lektorka h2 { margin: 0 0 15px; font-size: 20px; }
.lektorka p { margin: 10px 0; }
.lektorka p:last-child { margin-bottom: 0; }

.lektorka .email { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  }

@media (min-width: 768px) {
	.lektorka { width: 33.333333%; float: left; padding: 15px; border: 0; border: 1px solid #FAF3F0;}
	.lektorka a {  }
}

















.lektorka-detail {}


.lektorka-detail .main-title-mesto { position: relative; margin-left: 30px; padding-left: 25px; font-size: 16px; }
.lektorka-detail .main-title-mesto:before { content: ''; display: block; width: 16px; height: 21px; background: url(img/pin.png); background-size: 16px 21px; }
.lektorka-detail .main-title-mesto:before { position: absolute; left: 0; top: 1px; }


@media (min-width: 960px) {
	.lektorka-detail .main-title-mesto { margin-left: 40px; font-size: 20px; }
	.lektorka-detail .main-title-mesto:before { top: 2px;  }
}
@media (min-width: 1200px) {
	.lektorka-detail .main-title-mesto { margin-left: 50px; font-size: 24px; }
	.lektorka-detail .main-title-mesto:before { top: 5px;  }
}




.lektorka-main { background-color: #fff; border: 2px solid #FAF3F0; }
.lektorka-kontakt { border-top: 2px solid #FAF3F0;; }

.lektorka-info, .lektorka-kontakt { padding: 20px 10px; }

@media (min-width: 768px) {
	.lektorka-info, .lektorka-kontakt	{ padding: 20px; }
}
@media (min-width: 1400px) {
	.lektorka-info, .lektorka-kontakt	{ padding: 50px; }
}



.lektorka-foto { margin-bottom: 20px; text-align: center; }

.lektorka-prouzek {  max-width: 150px; margin-bottom: 20px;  color: #fff; font-weight: bold; padding: 10px 25px 8px 12px; line-height: 1; font-size: 12px; text-transform: uppercase; }
.lektorka-prouzek.lektorka-prouzek_bot {
	bottom: -12px;
    max-width: 240px;
    top: auto !important;
}
.lektorka-detail .lektorka-prouzek { background: right center no-repeat url(img/hnedy-stitek.png); }

.lektorky-prehled .lektorka-prouzek  { position: absolute; top: 10px; left: 0; z-index: 10; color: #ca4c6e; font-weight: normal; background: right center no-repeat url(img/bezovy-stitek.png); }


.lektorka-predstaveni p:last-child { margin-bottom: 0; }

.lektorka-motto-wrapper { margin-bottom: 20px; background-color: #FAF3F0; }
.lektorka-motto { padding: 10px; color: #dac4bb; font-size: 18px; }

@media (min-width: 960px) {
	.lektorka-motto-wrapper { background-image: url(img/kvetina-symbol-bila.png); background-repeat: no-repeat; background-position: right -100px bottom -100px;}
	.lektorka-motto	{ padding: 20px; font-size: 20px; }
}

@media (min-width: 1200px) {
	.lektorka-foto-a-prouzek { width: 150px; float: left; }
	.lektorka-foto, .lektorka-prouzek {   margin-bottom: 20px; text-align: left; }
	.lektorka-prouzek {  }
	.lektorka-predstaveni { margin-left: 180px; }

	.lektorka-foto img { display: block; margin: 5px 0 0; }
}

@media (min-width: 1400px) {
	.lektorka-motto-wrapper { float: right; margin: 0 0 15px 30px;  }
	.lektorka-motto { width: 330px; padding: 40px; font-size: 30px; }
}



.lektorka-predstaveni .fb-link a { display: block; width: 18px; height: 18px; background: url(img/fb.png) 0 0 no-repeat; background-size: 18px 18px; }




.lektorka-kontakt {}
.lektorka-kontakt .kontakt-label { margin-right: 20px; color: #ca4c6e; }
.lektorka-kontakt .kontakt-email { color: #ca4c6e; }
.lektorka-kontakt .kontakt-email a { position: relative; padding-left: 30px; font-weight: bold; }
.lektorka-kontakt .kontakt-email a:before { content: ''; display: block; width: 18px; height: 14px; background: url(img/envelope.png) 0 0 no-repeat; background-size: 18px 14px; }
.lektorka-kontakt .kontakt-email a:before { position: absolute; left: 0; top: 5px; }

.lektorka-kontakt {}
.lektorka-kontakt .kontakt-label { margin-right: 20px; color: #ca4c6e; }
.lektorka-kontakt .kontakt-phone { color: #ca4c6e; margin-left: 30px; }
.lektorka-kontakt .kontakt-phone a { position: relative; padding-left: 30px; font-weight: bold; }
.lektorka-kontakt .kontakt-phone a:before { content: ''; display: block; width: 18px; height: 14px; background: url(img/phone.png) 0 0 no-repeat; background-size: 18px 14px; }
.lektorka-kontakt .kontakt-phone a:before { position: absolute; left: 0; top: 5px; }

@media (min-width: 1200px) {
	.lektorka-kontakt .kontakt-label { margin-right: 122px; }
}








/*
888b      88  88888888888          88  88888888ba   88                    888888888888  88888888888  88888888ba   88b           d88  88  888b      88  8b        d8
8888b     88  88                   88  88      "8b  88                         88       88           88      "8b  888b         d888  88  8888b     88   Y8,    ,8P
88 `8b    88  88                   88  88      ,8P  88                         88       88           88      ,8P  88`8b       d8'88  88  88 `8b    88    Y8,  ,8P
88  `8b   88  88aaaaa              88  88aaaaaa8P'  88                         88       88aaaaa      88aaaaaa8P'  88 `8b     d8' 88  88  88  `8b   88     "8aa8"
88   `8b  88  88"""""              88  88""""""8b,  88                         88       88"""""      88""""88'    88  `8b   d8'  88  88  88   `8b  88      `88'
88    `8b 88  88                   88  88      `8b  88                         88       88           88    `8b    88   `8b d8'   88  88  88    `8b 88       88
88     `8888  88           88,   ,d88  88      a8P  88           888           88       88           88     `8b   88    `888'    88  88  88     `8888       88
88      `888  88888888888   "Y8888P"   88888888P"   88888888888  888           88       88888888888  88      `8b  88     `8'     88  88  88      `888       88
*/


.nejblizsi-terminy { margin-top: 50px; background-color: #faf3f0; margin-bottom: 40px; }
.nejblizsi-terminy > h2 { margin: 0; padding: 20px; border-bottom: 2px solid #fff; text-align: center; }


.termin-box { padding: 10px;  }
.termin-box a { display: block; padding: 10px; text-decoration: none; color: inherit; }
.termin-box a:hover { background-color: #f6eae5; }

.nejblizsi-terminy .termin-box { border-bottom: 2px solid #fff; }

.termin-box p {  }
.termin-box p:last-child { margin-bottom: 0; }

.termin-box-datum { color: #ca4c6e; }

.termin-box-datum, .termin-box-adresa, .termin-box-lektorka {
	padding-left: 40px; background-repeat: no-repeat; background-position: 0px 3px;
}

.termin-box-datum { background-image: url(img/datum.png); background-size: 13px 12px; }
.termin-box-adresa { background-image: url(img/lokalita.png); background-size: 11px 14px; }
.termin-box-lektorka { background-image: url(img/user.png); background-size: 14px 13px; }

.termin-box a:hover .termin-box-kapacita { background: url(img/lupa.png) right center no-repeat; background-size: 17px; }

.nejblizsi-terminy .zobrazit-vsechny-terminy { padding: 20px; text-align: center; border-top: 2px solid #fff; }
.nejblizsi-terminy .zobrazit-vsechny-terminy a { text-decoration: none; font-weight: bold; color: inherit; }


@media (min-width: 768px) {
	.termin-box a { padding: 20px; }
	.termin-box:nth-child(2n+1) { width: 50%; float: left; clear: left;  }
	.termin-box:nth-child(2n+2) { width: 50%; float: right;  }

	.nejblizsi-terminy .termin-box:nth-child(1) { border-right: 2px solid #fff; }
	.nejblizsi-terminy .termin-box:nth-child(3) { border-right: 2px solid #fff; }
	.nejblizsi-terminy .termin-box:nth-child(3), .nejblizsi-terminy .termin-box:nth-child(4) { border-bottom: 0; }
}

@media (min-width: 960px) {
	.nejblizsi-terminy > h2 { padding: 30px 20px; }
}

@media (min-width: 1600px) {
	.termin-box { padding: 15px; }
	.termin-box a { padding: 20px 30px; }

	.nejblizsi-terminy .termin-box:nth-child(1),
		.nejblizsi-terminy .termin-box:nth-child(2),
		.nejblizsi-terminy .termin-box:nth-child(3),
		.nejblizsi-terminy .termin-box:nth-child(4) { width: 25%; float: left; clear: none; border: 0; }

	.nejblizsi-terminy .termin-box:nth-child(1),
		.nejblizsi-terminy .termin-box:nth-child(2),
		.nejblizsi-terminy .termin-box:nth-child(3) { border-right: 2px solid #fff; }
}








/*
888888888888  88888888888  88888888ba   88b           d88  88  888b      88  8b        d8
     88       88           88      "8b  888b         d888  88  8888b     88   Y8,    ,8P
     88       88           88      ,8P  88`8b       d8'88  88  88 `8b    88    Y8,  ,8P
     88       88aaaaa      88aaaaaa8P'  88 `8b     d8' 88  88  88  `8b   88     "8aa8"
     88       88"""""      88""""88'    88  `8b   d8'  88  88  88   `8b  88      `88'
     88       88           88    `8b    88   `8b d8'   88  88  88    `8b 88       88
     88       88           88     `8b   88    `888'    88  88  88     `8888       88
     88       88888888888  88      `8b  88     `8'     88  88  88      `888       88
*/



.terminy-filtr { margin-bottom: 30px; }
.filtr-item { margin-bottom: 10px; }
.filtr-item label { margin-right: 10px; font-weight: bold; color: #a9a9a9; }
.filtr-item select { max-width: 200px; padding: 3px 10px 20px; border: 1px solid #EFEFEF; box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.06); }
.filtr-item select { background: 95% 50% no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAGCAYAAAD37n+BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAExJREFUeNp8jAEKACAIA016rRD1lfqwKSikhIMJzpuNiBoAbPGAWke8UAaLpwUlrCxawBacCtYFn8OvFGBVT9+85Arwr5BLnI9XgAEAjEMUoMZ86IUAAAAASUVORK5CYII=); }

@media (min-width: 960px) {
	.filtr-item select { padding: 10px 25px 10px 15px; }
}

@media (min-width: 1200px) {
	.filtr-item { display: inline-block; margin-right: 10px; }
	.filtr-item:last-child { margin-right: 0; }
}


@media (min-width: 1600px) {
	.content-terminy { position: relative; }
	.terminy-filtr { position: absolute; top: 20px; right: 50px; }
}
@media (min-width: 1800px) {
	.filtr-item { margin-right: 50px; }
	.filtr-item label { margin-right: 20px; }
}





/* tabulka */

.terminy { width: 100%;   }

.terminy td { background-color: #FAF3F0; }
.terminy tr:nth-child(even) td { background-color: #fff; }

@media (max-width: 1199px) {
	.terminy { display: block; }
	.terminy tbody { display: block; }
	.terminy tr { display: block; margin-bottom: 30px; }
	.terminy td { display: block; padding: 10px 20px; }
}


@media (min-width: 1200px) {
	.terminy td { padding: 25px 20px }
}

.termin-typ {  }
.termin-typ span { margin-bottom: 5px; display: block; padding: 6px 10px 5px; text-align: center; font-size: 12px; line-height: 1; font-weight: bold; color: #fff;
					background-position: center right; background-repeat: no-repeat;
					border-radius: 3px;
					min-width: 90px;
					background-size: cover; }
.termin-typ .typ-1denni { background-image: url(img/label-1denni.png); }
.termin-typ .typ-2denni { background-image: url(img/label-2denni.png);  }
.termin-typ .typ-online { background-image: url(img/label-online.png);  }
.termin-typ .typ-bebalanced { background-image: url(img/label-bebalanced.png);  }
.termin-typ .typ-anglicky { background-image: url(img/label-anglicky.png);  }

.termin-typ .typ-sleva {
    background: #d05679;
    text-transform: uppercase;
}

.termin-nazev-kurzu {}
.termin-nazev-kurzu a { text-decoration: none; font-weight: bold; color: inherit; }

.termin-nazev-kurzu span.datum { position: relative; padding-left: 20px; color: #ca4c6e; }
.termin-nazev-kurzu span.datum:before { content: ''; position: absolute; left: 0; top: 5px; display: block; width: 13px; height: 12px; background-image: url(img/datum.png); background-size: 13px 12px; }

.termin-lokalita > span { position: relative; padding-left: 20px; }
.termin-lokalita > span:before { content: ''; position: absolute; left: 0; top: 4px; display: block; width: 11px; height: 14px; background-image: url(img/lokalita.png); background-size: 11px 14px; }
.termin-lokalita > span > span {  display: inline !important; }

.termin-lektorka span { position: relative; padding-left: 25px; }
.termin-lektorka span:before { content: ''; position: absolute; left: 0; top: 4px; display: block; width: 14px; height: 13px; background-image: url(img/user.png); background-size: 14px 13px; }


/* i jinde po webu */
.termin-volna-mista { display: inline-block; margin-bottom: 2px; margin-right: 2px; position: relative; padding: 5px 50px 3px 15px; background-color: #FBC5B2; color: #ca4c6e; }
.termin-volna-mista .cislo { position: absolute; right: 2px; top: 2px; bottom: 2px; width: 36px; text-align: center; background-color: #fff; line-height: 37px; font-weight: bold; }

@media (min-width: 768px) {
	.termin-volna-mista { padding-top: 7px; padding-bottom: 5px; }
}

@media (min-width: 1200px) and (max-width: 1700px) {
	.termin-rezervace .termin-volna-mista, .termin-rezervace .tlacitko { display: block; width: 100%; text-align: center; }
}

















/*
88888888ba   88888888ba   88  88        88  88                  db          ad88888ba   88      a8P          db
88      "8b  88      "8b  88  88        88  88                 d88b        d8"     "8b  88    ,88'          d88b
88      ,8P  88      ,8P  88  88        88  88                d8'`8b       Y8,          88  ,88"           d8'`8b
88aaaaaa8P'  88aaaaaa8P'  88  88aaaaaaaa88  88               d8'  `8b      `Y8aaaaa,    88,d88'           d8'  `8b
88""""""'    88""""88'    88  88""""""""88  88              d8YaaaaY8b       `"""""8b,  8888"88,         d8YaaaaY8b
88           88    `8b    88  88        88  88             d8""""""""8b            `8b  88P   Y8b       d8""""""""8b
88           88     `8b   88  88        88  88            d8'        `8b   Y8a     a8P  88     "88,    d8'        `8b
88           88      `8b  88  88        88  88888888888  d8'          `8b   "Y88888P"   88       Y8b  d8'          `8b
*/


.table-termin-wrapper { margin-bottom: 30px; padding: 10px; background-color: #FAF3F0; }
.table-termin { width: 100%; margin: 0; }

.table-termin th, .table-termin td { padding: 10px 5px; }
.table-termin .td1 { font-weight: bold; color: #CA4C6E; }
.table-termin .td2 {  }

.table-termin .tdnadpis:not(.tdnadpisdruhprihlasky), .table-termin .tdsubmit { padding-top: 40px; }


.table-termin h2 { margin: 0; }
.table-termin p:last-child { margin-bottom: 0; }

.table-termin input[type="text"], .table-termin input[type="email"], .table-termin textarea{ width: 100%; }


@media (min-width: 768px) {
	.table-termin .td1 { width: 20%; }
	.table-termin .td2 { width: 80%;  }
}



.table-termin .typ-prihlasky { margin: 20px 35px }

.table-termin .cena {}
.table-termin .cena.bezna-bez-akce {}
.table-termin .cena.bezna-behem-akce { text-decoration: line-through; }
.table-termin .cena.akcni { margin-left: 10px; margin-right: 10px; font-size: 18px; font-weight: bold; color: red; }
.table-termin .poznamka-k-akci { color: red; font-size: 14px }

.par-upresneni { margin-left: 30px; }
.par-upresneni label {   }
.par-upresneni input[type="text"] {  width: auto; }

@media (min-width: 960px) {
	.par-upresneni input[type="text"] {  width: 400px; }
}


.prihlaska-tr-slevovy-poukaz input[type="text"] { width: 250px; }

.prihlaska .readonly { padding-left: 0; border: 0; background: transparent; box-shadow: none; font-weight: bold;  }

.prihlaska .vyplnit { border-color: red; }
.prihlaska .vyplnit-cont { color: red !important; font-weight: bold; }
.prihlaska input[type="checkbox"].vyplnit {    }

.uspech, .chyba { text-align: center; font-weight: bold; color: green;  }
.chyba { color: red;  }



















/*
88      a8P   88        88  88888888ba   888888888888  8b        d8
88    ,88'    88        88  88      "8b           ,88   Y8,    ,8P
88  ,88"      88        88  88      ,8P         ,88"     Y8,  ,8P
88,d88'       88        88  88aaaaaa8P'       ,88"        "8aa8"
8888"88,      88        88  88""""88'       ,88"           `88'
88P   Y8b     88        88  88    `8b     ,88"              88
88     "88,   Y8a.    .a8P  88     `8b   88"                88
88       Y8b   `"Y8888Y"'   88      `8b  888888888888       88
*/



.kurz-item { margin-bottom: 40px; background-color: #FAF3F0; padding: 20px; }

.kurz-item h2 { margin-bottom: 10px; }
.kurz-item .desc { margin-bottom: 30px; }
.kurz-item .link { margin-bottom: 0; }

.kurz-item-foto { margin-bottom: 20px; text-align: center; }

@media (min-width: 500px) {
	.kurz-item-foto { width: 150px; float: left; margin: 0; text-align: left; }
	.kurz-item-info { margin-left: 170px; }
}

@media (min-width: 1200px) {
	.kurz-item { width: 47%; float: left; margin-right: 6%; }
	.kurz-item:nth-child(2n+2) { margin-right: 0; }
}

@media (min-width: 1400px) {
	.kurz-item { width: 48%; margin-right: 4%; padding: 30px; margin-bottom: 50px; }
	.kurz-item-info { margin-left: 180px;  }
}

@media (min-width: 1800px) {
	.kurz-item { width: 31%; margin-right: 3.5%; margin-bottom: 40px; }
	.kurz-item:nth-child(2n+2) { margin-right: 3.5%; }
	.kurz-item:nth-child(3n+3) { margin-right: 0; }
}












/* DETAIL */


.content-kurz ul { list-style: none; }
.content-kurz ul li { margin-left: 0; padding-left: 40px; background-image: url(img/ruzova-fajfka.png); background-position: 0 3px; background-repeat: no-repeat; background-size: 17px 14px; }


.kurz-popis { margin-bottom: 40px; padding: 20px; background-color: #FAF3F0; }
.kurz-popis > p:last-child { margin-bottom: 0; }

.kurz-foto { margin-bottom: 10px; }
.kurz-foto img { width: 100%; }
.kurz-foto-a-popis { margin-bottom: 40px; }

.kurz-foto-a-ceny { margin-bottom: 20px; }
.kurz-popisek { margin-bottom: 20px; font-size: 14px; line-height: 1.4; }

@media (min-width: 960px) {

	.kurz-popis {  }
	.kurz-foto-a-ceny { float: left; width: 45%; padding: 0 20px 20px 0; margin: -20px 20px 20px -20px; background-color: #fff;  }



	.kurz-popis ul, .kurz-popis ol { display: table; }

}

@media (min-width: 1200px) {
	.kurz-foto-a-popis { margin-bottom: 80px; }
}

@media (min-width: 1600px) {
	.kurz-popis { margin-bottom: 0; }
	.kurz-foto {  }

	.kurz-popis { padding: 40px; }
	.kurz-foto-a-ceny { width: 35%; margin: -40px 40px 20px -40px; padding: 0 40px 40px 0; }
}

@media (min-width: 1800px) {
	.kurz-popis { }
	.kurz-foto-a-ceny {  }

}





.kurz-ceny {}
.kurz-cena { padding: 10px 0;   border-bottom: 2px solid #F1F1F1;  }
.kurz-cena:first-child { padding-top: 0; }
.kurz-cena .castka strong { color: #ca4c6e; }
.kurz-cena .poznamka  { margin-left: 10px;  }
.kurz-cena .poznamka .otaznik { display: none; }
.kurz-cena .poznamka .t { font-size: 12px; }

.kurz-odkazy { padding: 20px 0; text-align: center; }
.kurz-odkazy a { display: inline-block; padding: 8px 20px 6px; margin: auto 10px; }
.kurz-odkazy a.podminky { color: #a9a9a9; padding-left: 4px; padding-right: 4px; }
.kurz-odkazy a.prispevky { color: #fff; font-weight: bold; background-color: #FBC5B2; text-decoration: none; transition: background .25s ease-in-out; }
.kurz-odkazy a.prispevky:hover { background-color: #CA4C6E; }

@media (min-width: 960px) {
	.kurz-cena .castka strong { font-size: 24px; font-weight: 700; }
}

@media (min-width: 1200px) {
	.kurz-cena { padding: 20px 0; }
	.kurz-cena .popisek { float: left; width: 50%; font-size: 18px; padding-top: 4px;  }
	.kurz-cena .castka { float: right; width: 47%; text-align: right; }

	.kurz-cena .poznamka .t { display: none; }
	.kurz-cena .poznamka { top: -4px; display: inline-block; width: 18px; height: 18px; border-radius: 9px; background: #FBC5B2; color: #fff; text-align: center; line-height: 18px; }
	.kurz-cena .poznamka .otaznik { display: inline; font-size: 12px; font-weight: bold;  }

	.kurz-odkazy { padding-top: 40px; }
}

@media (max-width: 1199px) {
	[data-hint]:after,[data-hint]:before { display: none !important; }
}













.kurz-rozvrh > h2 { margin-bottom: 30px; }
.kurz-rozvrh h3 { color: #6a6a6a; }


.kurz-rozvrh ul { margin: 0; }
.kurz-rozvrh li { margin-top: 8px; margin-bottom: 8px; }

.kurz-rozvrh.dvadny .kurz-rozvrh-den-1 { margin-bottom: 40px; }

@media (min-width: 768px) {
	.kurz-rozvrh ul { width: 45%; float: left; }
	.kurz-rozvrh ul:nth-child(2n+2) { float: right; }
}


@media (min-width: 1600px) {
	.kurz-rozvrh.dvadny .kurz-rozvrh-den-1 { width: 47%; float: left; }
	.kurz-rozvrh.dvadny .kurz-rozvrh-den-2 { width: 47%; float: right; }
}










.kurz-kontaktni-formular { margin-top: 50px; }

.kurz-kontaktni-formular > h2 { margin-bottom: 30px; }











/*
88888888ba   88888888888  88888888888  88888888888  88888888ba   88888888888  888b      88    ,ad8888ba,   88888888888
88      "8b  88           88           88           88      "8b  88           8888b     88   d8"'    `"8b  88
88      ,8P  88           88           88           88      ,8P  88           88 `8b    88  d8'            88
88aaaaaa8P'  88aaaaa      88aaaaa      88aaaaa      88aaaaaa8P'  88aaaaa      88  `8b   88  88             88aaaaa
88""""88'    88"""""      88"""""      88"""""      88""""88'    88"""""      88   `8b  88  88             88"""""
88    `8b    88           88           88           88    `8b    88           88    `8b 88  Y8,            88
88     `8b   88           88           88           88     `8b   88           88     `8888   Y8a.    .a8P  88
88      `8b  88888888888  88           88888888888  88      `8b  88888888888  88      `888    `"Y8888Y"'   88888888888
*/


/* i na HP */

.reference-sekce { margin-bottom: 50px;  position: relative; background-color: #F9F2E9; }

.reference-sekce { position: relative; padding: 50px 20px 20px; }
.reference-sekce:before { content:''; display: block; width: 50px; height: 50px; border-radius: 25px;
							background-color: #CA4C6E;
							background-image: url(img/user-bily.png);
							background-position: center center;
							background-repeat: no-repeat;
							background-size: 25px
						}
.reference-sekce:before { position: absolute; top: -25px; left: 50%; transform: translateX(-50%); }


@media (min-width: 960px) {
	.reference-sekce { margin-top: 100px; margin-bottom: 100px;  background: url(img/reference-bg.jpg) center center no-repeat; }
	.reference-sekce { padding: 90px 50px 50px; }
	.reference-sekce:before { top: -39px; width: 78px; height: 78px; border-radius: 39px;  }
}

@media (min-width: 1400px) {
	.reference-sekce { background-size: cover; }
}


.reference-wrapper { max-width: 1100px; padding: 0 50px; position: relative; margin: auto; }

@media (min-width: 1200px) {
	.reference-wrapper { padding: 0 100px; }
}

#reference-prev, #reference-next { display: block; width: 30px; height: 50px; position: absolute; top: 50%; transform: translateY(-50%); z-index: 100; background-size: 20px 35px; }
#reference-prev { left: 0; background-image: url(img/arrow-left.png); background-position: center center; background-repeat: no-repeat; }
#reference-next { right: 0; background-image: url(img/arrow-right.png); background-position: center center; background-repeat: no-repeat; }
#reference-prev:hover, #reference-next:hover { opacity: .5; }

.reference { display: none; text-align: center; }
.reference:first-child { display: block; }

.reference-text {}
.reference-text :last-child { margin-bottom: 0; }

.reference-jmeno { margin-bottom: 0; margin-top: 25px; }
.reference-jmeno strong { color: #CA4C6E; }




/*
.reference-tecky { margin-top: 20px; text-align: center; }
.reference-tecky a { display: inline-block; width: 12px; height: 12px; margin: auto 4px; background: url(img/svetle-kolecko.png) center center no-repeat; background-size: 8px }
.reference-tecky a.selected { background-image: url(img/ruzova-tecka.png); }
.reference-tecky a span { display: none; }
*/















/*
  ,ad8888ba,   88888888ba          db         8b           d8  88  888888888888  8b        d8
 d8"'    `"8b  88      "8b        d88b        `8b         d8'  88       88        Y8,    ,8P
d8'            88      ,8P       d8'`8b        `8b       d8'   88       88         Y8,  ,8P
88             88aaaaaa8P'      d8'  `8b        `8b     d8'    88       88          "8aa8"
88      88888  88""""88'       d8YaaaaY8b        `8b   d8'     88       88           `88'
Y8,        88  88    `8b      d8""""""""8b        `8b d8'      88       88            88
 Y8a.    .a88  88     `8b    d8'        `8b        `888'       88       88            88
  `"Y88888P"   88      `8b  d8'          `8b        `8'        88       88            88
*/

.gform_wrapper .gf_progressbar { background-color: rgba( 251, 197, 178, .2 ) !important; }
.gform_wrapper .gf_progressbar:after { background-color: rgba(171, 66, 66, 0.1) !important; }

.gform_wrapper .gsection { border-bottom: 1px solid #ca4c6e !important; }

.gform_wrapper label.gfield_label { color: #ca4c6e; }

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) { border-color: #EEECEC; }

.gform_wrapper.gf_browser_chrome select {  border-color: #EEECEC;  }



.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ca4c6d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}












/*
88888888ba   88888888ba   88  88888888ba   88888888888  88        88  8b        d8
88      "8b  88      "8b  88  88      "8b  88           88        88   Y8,    ,8P
88      ,8P  88      ,8P  88  88      ,8P  88           88        88    Y8,  ,8P
88aaaaaa8P'  88aaaaaa8P'  88  88aaaaaa8P'  88aaaaa      88aaaaaaaa88     "8aa8"
88""""""'    88""""88'    88  88""""""8b,  88"""""      88""""""""88      `88'
88           88    `8b    88  88      `8b  88           88        88       88
88           88     `8b   88  88      a8P  88           88        88       88
88           88      `8b  88  88888888P"   88888888888  88        88       88
*/



.pribeh { padding: 20px 10px; background: #fff; border-bottom: 2px solid #FAF3F0; }

.pribeh .foto { width: 90px; float: left; }
.pribeh .info { margin-left: 110px; }

.pribeh-text { clear: both; margin-top: 20px;  }
.pribeh-text :last-child { margin-bottom: 0;   }

.pribeh .odkaz { margin-bottom: 0; }

@media (min-width: 768px) {
	.pribeh { padding: 20px;  }
	.pribeh .foto { width: 140px; }
	.pribeh .info { margin-left: 170px; }

	.pribeh h1.nadpis { font-size: 24px; margin-bottom: 30px;}
}

@media (min-width: 960px) {
	.pribeh-text { margin-top: 35px;  }
}

@media (min-width: 1200px) {
	.pribeh .nadpis { font-size: 20px }
}

@media (min-width: 1400px) {
	.pribeh { padding: 35px; }
	.pribeh .foto { width: 250px;  }
	.pribeh .info { margin-left: 300px; }
	.pribeh .nadpis {  }
	.pribeh h1.nadpis { font-size: 30px; }
}

@media (min-width: 1600px) {
	.pribeh { padding: 50px; }
}


























/*
88      a8P          db         88           88      a8P   88        88  88                  db           ,ad8888ba,   88      a8P          db
88    ,88'          d88b        88           88    ,88'    88        88  88                 d88b         d8"'    `"8b  88    ,88'          d88b
88  ,88"           d8'`8b       88           88  ,88"      88        88  88                d8'`8b       d8'            88  ,88"           d8'`8b
88,d88'           d8'  `8b      88           88,d88'       88        88  88               d8'  `8b      88             88,d88'           d8'  `8b
8888"88,         d8YaaaaY8b     88           8888"88,      88        88  88              d8YaaaaY8b     88             8888"88,         d8YaaaaY8b
88P   Y8b       d8""""""""8b    88           88P   Y8b     88        88  88             d8""""""""8b    Y8,            88P   Y8b       d8""""""""8b
88     "88,    d8'        `8b   88           88     "88,   Y8a.    .a8P  88            d8'        `8b    Y8a.    .a8P  88     "88,    d8'        `8b
88       Y8b  d8'          `8b  88888888888  88       Y8b   `"Y8888Y"'   88888888888  d8'          `8b    `"Y8888Y"'   88       Y8b  d8'          `8b
*/





.kalkulacka { border: 2px solid #FAF3F0; }

.kalkulacka-vypocet { padding: 20px; }

.kalkulacka-vypocet .item { margin-bottom: 20px; }
.kalkulacka-vypocet .item label { display: block; padding: 0 0 5px; }
.kalkulacka-vypocet .item input { width: 100%; border-color: #FAF3F0; font-weight: 700; color: #ca4c6e; }

.kalkulacka-prvni-den input, .kalkulacka-datum-souloze input { background-image: url(img/maly-kalendar.png); background-repeat: no-repeat; background-position: 96% 50%; background-size: 13px 12px }

.kalkulacka-submit { clear: left; }
.kalkulacka-submit input { padding-left: 80px; padding-right: 50px; background-image: url(img/kalkulacka.png); background-position: 20% 50%; background-repeat: no-repeat; background-size: 18px 24px; }

#ui-datepicker-div { display: none; }
.ui-datepicker-month, .ui-datepicker-year { padding: 5px; border: 1px solid silver; -webkit-appearance: initial; appearance: initial; }

.kalkulacka-vysledek { display: none; }
.kalkulacka-vysledek { padding-top: 20px; color: #bfbd7c; }


.kalkulacka ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #ca4c6e;
	font-weight: 700;
	font-family: brandon-grotesque, sans-serif;
}
.kalkulacka :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #ca4c6e;
	opacity:  1;
	font-weight: 700;
	font-family: brandon-grotesque, sans-serif;
}
.kalkulacka ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #ca4c6e;
	opacity:  1;
	font-weight: 700;
	font-family: brandon-grotesque, sans-serif;
}
.kalkulacka :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #ca4c6e;
	font-weight: 700;
	font-family: brandon-grotesque, sans-serif;
}
.kalkulacka :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	color:    #ca4c6e;
	font-weight: 700;
	font-family: brandon-grotesque, sans-serif;
}



@media (min-width: 768px) {
	.kalkulacka-vypocet { padding: 50px; }
	.kalkulacka-vypocet .item { margin-bottom: 35px; }

	.kalkulacka-vysledek { padding-top: 35px; font-size: 24px; }
}

@media (min-width: 1400px) {
	.kalkulacka-prvni-den { clear: left; width: 47%; float: left; }
	.kalkulacka-prumerna-delka-cyklu { width: 47%; float: right; }

	.kalkulacka-datum-souloze { width: 47%; float: left; }
}




.kalkulacka-citat { padding: 20px; font-family: Hind, sans-serif; color: #dac4bb; background-color: #FAF3F0;  }
.kalkulacka-citat .citat { margin-bottom: 15px; font-size: 20px; }
.kalkulacka-citat .citat-autor { margin-bottom: 0; }

@media (min-width: 768px) {
	.kalkulacka-citat { padding: 50px;  }
	.kalkulacka-citat .citat { font-size: 30px; }
}




@media (min-width: 1200px) {
	.kalkulacka-vypocet { width: 50%; float: left; }
	.kalkulacka-citat { width: 50%; float: right; }
}

@media (min-width: 1200px) {
	.kalkulacka-vypocet { width: 60%;}
	.kalkulacka-citat { width: 40%;}
}

@media (min-width: 1600px) {
	.kalkulacka-vypocet { width: 70%;}
	.kalkulacka-citat { width: 30%;}
}




.kalkulacka-content { margin-top: 40px; }

















/*
88      a8P     ,ad8888ba,    888b      88  888888888888         db         88      a8P   888888888888
88    ,88'     d8"'    `"8b   8888b     88       88             d88b        88    ,88'         88
88  ,88"      d8'        `8b  88 `8b    88       88            d8'`8b       88  ,88"           88
88,d88'       88          88  88  `8b   88       88           d8'  `8b      88,d88'            88
8888"88,      88          88  88   `8b  88       88          d8YaaaaY8b     8888"88,           88
88P   Y8b     Y8,        ,8P  88    `8b 88       88         d8""""""""8b    88P   Y8b          88
88     "88,    Y8a.    .a8P   88     `8888       88        d8'        `8b   88     "88,        88
88       Y8b    `"Y8888Y"'    88      `888       88       d8'          `8b  88       Y8b       88
*/

.kontakt { border: 2px solid #FAF3F0; }

.kontakt-informace { padding: 20px; }

.kontakt-informace .first-col { border-bottom: 1px solid #FAF3F0; margin-bottom: 20px; }
.kontakt-informace .second-col {  }

.kontakt-informace .kontakty { margin-bottom: 20px; }

.kontakt-informace .kontakt-item { color: #6a6a6a; }
.kontakt-informace .kontakt-item a { color: #6a6a6a; text-decoration: none; }

@media (min-width: 768px) {

	.kontakt-informace { background-image: url(img/kvetina-symbol.png); background-position: right -110px top 50%; background-repeat: no-repeat; }

	.kontakt-informace .first-col { float: left; width: 50%; padding-right: 20px; border-bottom: none; border-right: 1px solid #FAF3F0; margin-bottom: 0; }
	.kontakt-informace .second-col { float: right; width: 50%; padding-left: 20px;	 }

	.kontakt-informace .bankovni-spojeni { margin-bottom: 0;  }

	.kontakt-informace .kontakty { margin-bottom: 0; }

	.kontakt-informace .kontakt-item  .item { font-size: 24px; padding-left: 50px; }

	.kontakt-informace .kontakt-hlavni-email .item:before { width: 25px; height: 20px; background-size: 25px 20px;  }
	.kontakt-informace .kontakt-telefon-1 .item:before, .kontakt-informace .kontakt-telefon-2 .item:before
		 { width: 24px; height: 24px; background-size: 24px 24px;  }


	.kontakt-informace .second-col { position: relative; padding-bottom: 46px; }

	.kontakt-informace .socialky { position: absolute; bottom: 0; left: 20px; width: 100%; }
	.kontakt-informace .socialka.fb { width: 47px; height: 46px; background-size: 47px 46px; margin-right: 30px; }
	.kontakt-informace .socialka.gplus { width: 75px; height: 46px; background-size: 75px 46px; margin-right: 30px; }
	.kontakt-informace .socialka.insta { width: 47px; height: 46px; background-size: 47px 46px; }

}

@media (min-width: 1200px) {

	.kontakt-informace { padding: 40px; }

	.kontakt-informace .socialky { left: 40px; }

	.kontakt-informace .first-col { padding-right: 40px; }
	.kontakt-informace .second-col { padding-left: 40px; }
}








/* !!! Kontaktni formular je i v detailu soukromeho kurzu! */

.kontakt-formular { padding: 20px; background-color: #FAF3F0; }

.kontakt-formular .alert { display: none; padding: 20px; text-align: center; font-weight: 700; color: red; }
.kontakt-formular .alert .success { color: green; }

.kontakt-formular .row { margin-bottom: 20px;  }
.kontakt-formular .row-fields { position: relative; }
.kontakt-formular .row-fields .form-item {  }
.kontakt-formular .row-fields label { display: block; position: absolute; top: 15px; left: 15px; z-index: 2; transition: all .2s ease-in-out; }


.kontakt-formular .row-fields .form-item:focus { border-color: #FBC5B2 }
.kontakt-formular .row-fields .form-item:focus + label,
	.kontakt-formular .row-fields select.form-item.hasvalue + label,
	.kontakt-formular .row-fields input.form-item:valid + label,
	.kontakt-formular .row-fields textarea.form-item:valid + label { top: -10px; font-size: 13px; padding: 1px 6px; background-color: #FBC5B2; color: #fff; font-weight: 500; }


.kontakt-formular .row-fields input.form-item:focus + label .star,
	.kontakt-formular .row-fields input.form-item:valid + label .star { display: none; }



.kontakt-formular .star { color: #CA4C6E; }
.kontakt-formular .form-item { width: 100%; border-color: transparent;  }

.kontakt-formular .row-info { font-size: 14px; margin-top: 30px; margin-bottom: 30px; }
.kontakt-formular .row-submit { margin-bottom: 0; }
.kontakt-formular .row-submit input { width: 100%; text-align: center; }

@media (min-width: 1200px) {

	.kontakt-formular { padding: 40px; }

	.kontakt-formular .form { position: relative; padding-right: 53%; }
	.kontakt-formular .row-textarea { position: absolute; right: 0; top: 0; width: 47%; height: 100%;   }
	.kontakt-formular .row-textarea textarea { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	.kontakt-formular .row-textarea label { z-index: 2 }

}





@media (min-width: 1800px) {
	.kontakt .kontakt-informace { width: 50%; float: left; }
	.kontakt .kontakt-formular { width: 50%; float: right; }
}






.kontakt-lektorky { margin-top: 50px; }



/*********************** storypress ******************/


.main .acf-field input[type="text"],
.main .acf-field input[type="number"],
.main .acf-field select {
	height: auto;
	padding: 10px 15px;
    font-size: inherit;
    font-family: brandon-grotesque, sans-serif;
    color: #707176;
    border: 2px solid #eeecec;
    -webkit-appearance: none;
    appearance: none;
}

.main .acf-form .acf-fields > div {
	width: 50%;
}

.main .acf-form .acf-fields > div[data-name="letak_ke_stazeni"],
.main .acf-form .acf-fields > div[data-name="dalsi_dny"],
.main .acf-form .acf-fields > div[data-name="adresa_mesto_filtr"],
.main .acf-form .acf-fields > div[data-name="informace"],
.main .acf-form .acf-fields > div[data-name="poloha_na_mape"],
.main .acf-form .acf-fields > div[data-type="message"],
.main .acf-form .acf-fields > div[data-name="_post_content"],
.main .acf-form .acf-fields > div[data-name="specifikace_terminu"],
.main .acf-form .acf-fields > div[data-name="kurz"] {
	width: 100%;
}

.main .acf-form .acf-fields > div[data-name="letak_ke_stazeni"] {
	margin-bottom: 30px;
}

.main .acf-form .acf-fields .select2-container .select2-selection--single {
	height: 46px;
	border: 2px solid #eeecec;
	border-radius: 0;
}

.main .acf-form .acf-fields .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 46px;
}

.main .acf-form .acf-fields .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 46px;
}

.acf-form .acf-fields {
	display: flex;
	flex-wrap: wrap;
}

.main .acf-notice.-error {
    border: 0;
    background: #f7f6f7;
    color: #515151;
    border-top: 2px solid #CA4C6E;
}

.acf-notice.-error.acf-error-message.-dismiss {
    display: none;
}

#message::before {
	font-family: WooCommerce;
    content: '\e028';
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em;
    color: #CA4C6E;
    content: '\e015';
}

#message p {
	margin: 0;
}

#message {
	border-top: 2px solid #CA4C6E;
	padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    border-top: 3px solid #a46497;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
}

.acf-form-submit {
    margin-bottom: 100px;
}

.main .acf-field .acf-notice p {
    color: #515151;
}

.main .acf-form .acf-fields .acf-button.button {
    display: block;
    margin-bottom: 33px;
    max-width: 162px;
    text-align: center;
    padding: 10px 20px !important;
}














/*
88888888888  88888888ba     ,ad8888ba,      ,ad8888ba,    88      a8P   8b        d8
88           88      "8b   d8"'    `"8b    d8"'    `"8b   88    ,88'     Y8,    ,8P
88           88      ,8P  d8'        `8b  d8'        `8b  88  ,88"        Y8,  ,8P
88aaaaa      88aaaaaa8P'  88          88  88          88  88,d88'          "8aa8"
88"""""      88""""""8b,  88          88  88          88  8888"88,          `88'
88           88      `8b  Y8,        ,8P  Y8,        ,8P  88P   Y8b          88
88           88      a8P   Y8a.    .a8P    Y8a.    .a8P   88     "88,        88
88888888888  88888888P"     `"Y8888Y"'      `"Y8888Y"'    88       Y8b       88
*/

.ebook-shortcode { max-width: 500px; margin: 50px auto 100px; padding: 20px; text-align: center; background-color: #FAF3F0; }
.ebook-shortcode label { font-weight: bold; }
.ebook-shortcode input[type="email"] { width: 100%; }

@media (min-width: 960px) {
	.ebook-shortcode { padding: 50px; max-width: 600px; }
}




.btn_lektor {
	background: #ca4b6e;
	cursor: pointer;
	width: auto;
	background-color: #CA4C6E;
	padding: 15px 35px;
	font-size: 15px;
	text-decoration: none;
	border-color: #CA4C6E;
	color: #fff;
	font-weight: 700;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
}

.newslette_acc {
	margin-top: 4px;
}

.newslette_acc a {
	color: #ca4b6e;
}


.btn_cookie {
	background: white !important;
	color: #ca4c6d !important;
}


.table_overflow {
	margin-bottom: 20px;
}

.table_overflow input[type=text], 
.table_overflow input[type=email], 
.table_overflow input[type=password], 
.table_overflow input[type=number], 
.table_overflow input[type=tel], 
.table_overflow textarea, 
.table_overflow select, 
.table_overflow option, 
.table_overflow input[type=submit], 
.table_overflow input[type=button] {
	padding: 2px 7px;
}


.info_ico a {
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 17px;
    width: 100%;
    display: block;
}

.info_ico {
    width: 25px;
    height: 25px;
    background: #d05679;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}

.info_ico_pink {
	background: #fd7ae4;
}

.vice_bg {
	background: #d5618424;
}

.send_mail_btn {
    margin-bottom: 20px !important;
}

input.send_mail_btn {
    margin: 20px 0;
}


td.bg-gren-status {
    background: #e0fde8;
}

td.stat span {
    font-weight: bold;
}

td.bg-red-status {
    background: #fde0e0;
}






/*! Hint.css (base version) - v2.1.0 - 2016-02-15
* http://kushagragour.in/lab/hint/
* Copyright (c) 2016 Kushagra Gour; Licensed  */

[data-hint]{position:relative;display:inline-block}[data-hint]:after,[data-hint]:before{position:absolute;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);visibility:hidden;opacity:0;z-index:1000000;pointer-events:none;-webkit-transition:.3s ease;-moz-transition:.3s ease;transition:.3s ease;-webkit-transition-delay:0s;-moz-transition-delay:0s;transition-delay:0s}[data-hint]:hover:after,[data-hint]:hover:before{visibility:visible;opacity:1;-webkit-transition-delay:.1s;-moz-transition-delay:.1s;transition-delay:.1s}[data-hint]:before{content:'';position:absolute;background:0 0;border:6px solid transparent;z-index:1000001}[data-hint]:after{content:attr(data-hint);background:#CA4C6E;color:#fff;padding:8px 10px;font-size:12px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;line-height:12px;white-space:nowrap}[data-hint='']:after,[data-hint='']:before{display:none!important}.hint--top-left:before,.hint--top-right:before,.hint--top:before{border-top-color:#CA4C6E}.hint--bottom-left:before,.hint--bottom-right:before,.hint--bottom:before{margin-top:-12px;border-bottom-color:#CA4C6E}.hint--top:before{margin-bottom:-12px}.hint--top:after,.hint--top:before{bottom:100%;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}.hint--top:focus:after,.hint--top:focus:before,.hint--top:hover:after,.hint--top:hover:before{-webkit-transform:translateX(-50%) translateY(-8px);-moz-transform:translateX(-50%) translateY(-8px);transform:translateX(-50%) translateY(-8px)}.hint--bottom:after,.hint--bottom:before{top:100%;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}.hint--bottom:focus:after,.hint--bottom:focus:before,.hint--bottom:hover:after,.hint--bottom:hover:before{-webkit-transform:translateX(-50%) translateY(8px);-moz-transform:translateX(-50%) translateY(8px);transform:translateX(-50%) translateY(8px)}.hint--right:before{border-right-color:#CA4C6E;margin-left:-12px;margin-bottom:-6px}.hint--right:after{margin-bottom:-14px}.hint--right:after,.hint--right:before{left:100%;bottom:50%}.hint--right:focus:after,.hint--right:focus:before,.hint--right:hover:after,.hint--right:hover:before{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);transform:translateX(8px)}.hint--left:before{border-left-color:#CA4C6E;margin-right:-12px;margin-bottom:-6px}.hint--left:after{margin-bottom:-14px}.hint--top-left:before,.hint--top-right:before{margin-bottom:-12px}.hint--left:after,.hint--left:before{right:100%;bottom:50%}.hint--left:focus:after,.hint--left:focus:before,.hint--left:hover:after,.hint--left:hover:before{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);transform:translateX(-8px)}.hint--top-left:after,.hint--top-left:before{bottom:100%;left:50%;-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);transform:translateX(-100%)}.hint--top-left:after{margin-left:6px}.hint--top-left:focus:after,.hint--top-left:focus:before,.hint--top-left:hover:after,.hint--top-left:hover:before{-webkit-transform:translateX(-100%) translateY(-8px);-moz-transform:translateX(-100%) translateY(-8px);transform:translateX(-100%) translateY(-8px)}.hint--top-right:after,.hint--top-right:before{bottom:100%;left:50%;-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0)}.hint--top-right:after{margin-left:-6px}.hint--top-right:focus:after,.hint--top-right:focus:before,.hint--top-right:hover:after,.hint--top-right:hover:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--bottom-left:after,.hint--bottom-left:before{top:100%;left:50%;-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);transform:translateX(-100%)}.hint--bottom-left:after{margin-left:6px}.hint--bottom-left:focus:after,.hint--bottom-left:focus:before,.hint--bottom-left:hover:after,.hint--bottom-left:hover:before{-webkit-transform:translateX(-100%) translateY(8px);-moz-transform:translateX(-100%) translateY(8px);transform:translateX(-100%) translateY(8px)}.hint--bottom-right:after,.hint--bottom-right:before{top:100%;left:50%;-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0)}.hint--bottom-right:after{margin-left:-6px}.hint--bottom-right:focus:after,.hint--bottom-right:focus:before,.hint--bottom-right:hover:after,.hint--bottom-right:hover:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--always:after,.hint--always:before{opacity:1;visibility:visible}.hint--always.hint--top:after,.hint--always.hint--top:before{-webkit-transform:translateX(-50%) translateY(-8px);-moz-transform:translateX(-50%) translateY(-8px);transform:translateX(-50%) translateY(-8px)}.hint--always.hint--top-left:after,.hint--always.hint--top-left:before{-webkit-transform:translateX(-100%) translateY(-8px);-moz-transform:translateX(-100%) translateY(-8px);transform:translateX(-100%) translateY(-8px)}.hint--always.hint--top-right:after,.hint--always.hint--top-right:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--always.hint--bottom:after,.hint--always.hint--bottom:before{-webkit-transform:translateX(-50%) translateY(8px);-moz-transform:translateX(-50%) translateY(8px);transform:translateX(-50%) translateY(8px)}.hint--always.hint--bottom-left:after,.hint--always.hint--bottom-left:before{-webkit-transform:translateX(-100%) translateY(8px);-moz-transform:translateX(-100%) translateY(8px);transform:translateX(-100%) translateY(8px)}.hint--always.hint--bottom-right:after,.hint--always.hint--bottom-right:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--always.hint--left:after,.hint--always.hint--left:before{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);transform:translateX(-8px)}.hint--always.hint--right:after,.hint--always.hint--right:before{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);transform:translateX(8px)}




